[2020-02-13 17:53] Quu1337 opened #1 "[1.15.2] Bit of a bug."
Enderpearl in to nest, dig straight up/down, you came out 10x the coords you went in.
Repeat couple times, you are now ~5M blocks out of spawn.
Went in/out ~5 times, im at 29999977, 80, 29999968.
![image](https://user-images.githubusercontent.com/48761355/74463409-7a2e3480-4e9a-11ea-88ab-f4a69085f924.png)

[2020-02-13 18:56] TelepathicGrunt commented on #1
fudge. I see the math error I made. That definitely getting a quick patch lmao.

[2020-02-13 19:32] TelepathicGrunt commented on #1
Ok. v1.0.2 is now available and fixes this big bug. Thank you so much for reporting it! I have no clue how despite my testing, this buggy bug slipped under my radar.

[2020-02-13 19:32] #1 closed

[2020-02-27 23:44] dreckz opened #2 "Dimension Chunk Loading causes Crashing Lag"
MC: 1.15.2
Bumblezone: 1.0.2

Upon entering the dimension, everything is fine, when I was in the starting area isolated in the honeycomb.  I broke a few blocks to get out into the main area, and everything loaded fine at first.  But then, I think the chunkloading was lagging because it was REALLY hard for my client to load everything.

The problem was so bad, even standing still was super laggy an

[2020-02-28 02:02] TelepathicGrunt commented on #2
Height should not have to do anything with it as the dimension's height is the same as the overworld and End (255). Though have you tried using v1.0.4? There was an issue with mobs spawning at y = 0, suffocating, and their items gets stuck while teleporting upwards through all the blocks. I suspect that was a big reason for lag so please try 1.0.4 and let me know if things are better!

[2020-02-28 19:35] dreckz commented on #2
Fixed in 1.0.4, you're right!  Thanks!

[2020-02-29 00:54] TelepathicGrunt commented on #2
YAY! pesky bees! The bug has been exterminated!

[2020-02-29 00:54] #2 closed

[2020-04-22 14:03] TelepathicGrunt opened #3 "Players keeps their velocity when exiting bumblezone"
I need to reset player velocity to 0 when exiting bumblezone so people don't die if they fall down super fast to exit bumblezone.

[2020-04-29 02:56] TelepathicGrunt opened #4 "Need to check version of mod for mod compat"
When buzzier bees 1.1.4 is on, the game will crash because Bumblezone knows buzzier bees is on but tries to get Honey Slime from that version of buzzier bees that doesnt have the honey slime yet. A version check should let people be able to use older versions of those mods with bumblezone but without the crashing.

[2020-05-16 16:53] STOKE-STER opened #5 "smacking a bee causes crash/kick"
When hitting a bee in survival on singleplayer, my game instantly crashes. The bee is in the overworld. Hitting one in creative does nothing so I'm assuming something to do with the bee being enraged is making me crash. I also tested this on a server and the server didn't crash or my client but it did kick me.

[crash-2020-05-17_02.46.40-server.txt](https://github.com/TelepathicGrunt/Bumblezone/fi

[2020-05-16 17:00] TelepathicGrunt commented on #5
looks like this is an issue with Potion Master. I wish they were open sourced so I can see what they are doing but from the crashlog, it seems they are using a Forge event that fires when potion effects are removed. And that is causing a crash somehow. They might had forgotten a null check somewhere. I'll try and open an issue report with them to see if they can fix it on their end.

Next update w

[2020-05-16 17:08] TelepathicGrunt commented on #5
Made a crash report to Potion Master here. Now we have to wait until they respond to see how to fix this issue for good.
https://www.curseforge.com/minecraft/mc-mods/potionsmaster/issues/10

But yeah, thank you for reporting this!

[2020-05-16 17:14] TelepathicGrunt commented on #5
Oh I just saw another issue report for their mod. https://www.curseforge.com/minecraft/mc-mods/potionsmaster/issues/9

That person's crashlog is pointing to Potion Master's potion remove event as well. Yeah it definitely an issue on their end if it is crashing servers on startup too lol. Hopefully they can fix this crash soon!

[2020-05-16 17:56] STOKE-STER commented on #5
Thanks for the speedy response :) two very great mods that I'd love to see working as intended again lol

[2020-05-17 16:38] TelepathicGrunt commented on #3
Fixed in v1.3. Shouldn’t be a problem now :)

[2020-05-17 16:38] #3 closed

[2020-05-17 16:38] TelepathicGrunt commented on #4
Fixed in v1.3. Shouldn’t be a problem now :)

[2020-05-17 16:38] #4 closed

[2020-05-26 20:56] disastercube opened #6 "Dimensional teleportation"
It is a nice addition that to escape the dimension you have to dig either up or down but when you get teleported out and you find yourself in the middle of nowhere with a bee nest underneath you it looks really strange. It would look much better if you were to come back from the same nest you entered or at least a feature that would allow you to come back from your own bee nest.

[2020-05-26 21:04] disastercube commented on #6
This also could be used to duplicate hives which would be a real game braking mechanic and it ruins the whole experience just knowing that'll happen

[2020-05-27 12:45] TelepathicGrunt commented on #6
The issue with exiting to the same hive block is that the hive could be removed and such and it would make using The Bumblezone for fast travel not possible anymore. However, next update will have a new config to let players customized the teleportation better to what they perfer!

teleportationMode config will have 3 modes. Mode 1 will be the original teleportation that occurs right now where coo

[2020-05-28 12:20] TelepathicGrunt commented on #6
v1.3.4 is now out with new config options to change the teleportation mode and whether to spawn beenests or not! https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files

I'll close this issue report now

[2020-05-28 12:20] #6 closed

[2020-05-28 14:29] disastercube commented on #6
Nice, thank you so much for telling me. Appreciated

[2020-06-07 23:16] TelepathicGrunt opened #7 "Pollination Tool and new effect called Protection of the Hive"
A tool that can pick up pollen from flowers and when used on bees, will make them pollinated. if you use the pollination tool on another flower when full of pollen, it multiplies the flower around.

Protection of the Hive will make bees attack any creature that attacked the player with the effect. The effect can be obtained from feeding bees or from pollinating them. However, Wrath of the Hive wil

[2020-06-09 12:04] TelepathicGrunt opened #8 "Config to change spawnrates of other mod's mobs"
1 config for Productive Bees's bees
1 config for Beesourceful's bees
1 config for Buzzier Bees's Honey Slime

[2020-06-16 23:18] Commoble opened #9 "Vanilla recipe for honey blocks is overridden, making honey blocks uncraftable without adding another recipe"
Normally, Honey Blocks are craftable with four bottles of honey. This recipe is defined under the `minecraft:honey_block` identifier.

The Bumblezone adds a recipe that takes a honey block as an ingredient and is used to smelt honey blocks into sticky honey residue. This recipe is also defined under the `minecraft:honey_block` identifier.

This overrides the vanilla recipe, as two recipes can't ha

[2020-06-16 23:56] TelepathicGrunt commented on #9
Resolved and the patch is out. Thank you!

[2020-06-16 23:56] #9 closed

[2020-07-10 09:04] SwanX1 opened #10 "Bucket duplication."
If you take a water bucket and craft it together with sugar, you get a bucket of sugar water, but the original bucket stays in the crafting table. Thus the original bucket is now duplicated.

[2020-07-11 02:31] TelepathicGrunt commented on #10
I see they issue. It's due to how crafting tables treat recipes with contain items like buckets differently. this is annoying lol.

I might be able to create a special recipe thing for it but it may be more work than it's worth. For now, you could either use a datapack to disable the recipe or add an empty bucket to it so it's 1 bucket + 1 water bucket + sugar -> bucket + sugar water bucket.

[2020-07-12 18:48] TelepathicGrunt commented on #10
Thank you for reporting this bug! I was able to add a special recipe handler for the sugar water recipe. v1.3.7 now has the patch and is released. :)

[2020-07-12 18:48] #10 closed

[2020-07-13 18:39] JaisDK opened #11 "Structure infestation"
Hello there,

Structures are generating inside the bumblezone. I believe this one is from Quark.

![2020-07-13_19 41 03](https://user-images.githubusercontent.com/15868585/87340810-46daf900-c551-11ea-95c2-a94dc777e723.png)
![2020-07-13_19 42 44](https://user-images.githubusercontent.com/15868585/87340834-4e020700-c551-11ea-872b-b1ac9c5ca6d0.png)

There' also oil from Silents Mechanisms
![2020-07-1

[2020-07-13 18:53] TelepathicGrunt commented on #11
This is mainly an issue with the other mods not being careful of which biomes they add their features to.
For example with quark, they add their structure to biomes by config it seems so try checking the config. Right now, Bumblezone's biomes are in the jungle category for some reason (I forget why i ended up picking that) but I'll set it to a None category and you can blacklist the None category

[2020-07-13 21:28] TelepathicGrunt commented on #11
Oh looks like Mechanism has an issue report for biome configs. I'll post your screenshot to there to help bump the issue up.
https://github.com/SilentChaos512/Silents-Mechanisms/issues/87

[2020-07-14 11:48] JaisDK commented on #11
I don't mind the structures as I mostly play to test my mod, but it's good to know that they can be disabled. I finally got around to trying out your mod and figured I would share what I came across. It also helped me find a bug in my mod, aparently comb blocks are missing loot tables and don't drop anything when broken :(

[2020-07-14 12:10] TelepathicGrunt commented on #11
Ah makes sense. I just release two new configs for bumblezone to try and reset the biome's feature/structures/mobs back to default after all mods finished initialization. Hopefully this works!

https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files/3004579

I'll close this issue report as there's really not much more I can do on my end. It's up to the other mods to add configs for

[2020-07-18 16:22] TelepathicGrunt commented on #5
Almost forgot about this! I went and tested this issue with potionsmaster-0.1.8-1.15.2-31.2.0.jar to see if it still happens. And well, the crash seems to be fixed! I'll close this issue report now. :)

[2020-07-18 16:22] #5 closed

[2020-07-19 02:34] wtchappell commented on #11
Quark's Config doesn't list the 'NONE' BiomeType: https://github.com/Vazkii/Quark/blob/master/src/main/java/vazkii/quark/base/world/config/BiomeTypeConfig.java#L17

I tried adding 'NONE' to that list then adding 'NONE' to the blacklist in Quark's config, but big dungeons continue spawning in the Bumblezone. I also tried the Bumblezone option to prevent features from other mods generating in the Bu

[2020-07-19 03:45] TelepathicGrunt commented on #11
It seemed I accidentally added the config to a spot that was call before the config would actually be read... oops

1.3.9 should fix this and is available on curseforge right now. Hopefully it works this time!

[2020-07-19 04:23] wtchappell commented on #11
Setting `clearUnwantedBiomeFeatures = false` with Bumblezone 1.3.9 makes the game crash upon attempting to enter the Bumblezone, at least on my machine: https://paste.ee/p/A40jX

[2020-07-19 04:26] TelepathicGrunt commented on #11
Aaaaaaaaaaaaaa why are things null?!

I'll reopen this issue and look deeper tomorrow. Sorry about that. This is why I shouldn't stay up super late coding lol

[2020-07-19 04:39] wtchappell opened #13 "Mob Spawn Rate Options Set to Zero Don't Block Spawns"
The recent spawn rate feature doesn't seem to prevent either Endermen or Phantoms from spawning when I set the corresponding configuration fields to `0.0`.

Relevant config section from my save's `serverconfig/the_bumblezone-server.toml`:
[code]

Sorry to be such a bug magnet today... :(

[2020-07-19 04:52] wtchappell commented on #13
I think it might as simple as the numbers might be backwards, actually; I think `1.0` is actually no spawning: https://github.com/TelepathicGrunt/Bumblezone/blob/e16bf9b2796a7d95d608f412bfd8ae716928cf79/src/main/java/net/telepathicgrunt/bumblezone/entities/MobSpawnBehavior.java#L36

[2020-07-19 13:59] TelepathicGrunt commented on #11
Alright did some fixed and v1.3.10 should be good to go. I tested it much more extensively so let me know if any new issue comes up! If no issue pops up in like two or three days, I'll close this report.

Thank you for helping me out by pointing out the bugs! :)

[2020-07-19 14:00] TelepathicGrunt commented on #13
Yeah, v1.3.10 should resolve this issue as well.

[2020-07-19 22:43] wtchappell commented on #11
No crashes or dungeons on 1.3.10 so far!

[2020-07-19 22:57] wtchappell opened #14 "Add Some Ambience"
Currently the Bumblezone is pretty quiet, and it has no specific ambience. I've been doing some experiments with the AmbientSounds mod to add some background ambience to the Bumblezone, and I think it adds a lot!

I downloaded the audio from this video: https://www.youtube.com/watch?v=jpZR1xDsQiw
And then cut out a random snippet, to create this:  [hivenoise.zip](https://github.com/TelepathicGrunt

[2020-07-19 23:06] TelepathicGrunt commented on #14
The issue with that is the license with using other people's sounds which is why I am hesitate about that.

The main source of noise in The Bumblezone is the Brood Blocks and Bees. I would had seen about adding ambient sound to the dimension but that is not possible because of this line:
https://github.com/TelepathicGrunt/Bumblezone/blob/78ea6951ceefa01fa9deec509c78a115e3d52213/src/main/java/net/t

[2020-07-23 22:14] #13 closed

[2020-07-23 22:14] TelepathicGrunt commented on #11
awesome! Seems to be good im guessing. Thank you for your help!

[2020-07-23 22:14] #11 closed

[2020-08-16 15:27] Yourname942 opened #15 "[Server thread/ERROR]: Unknown structure piece id: minecraft:bigdungeon"
**With Bubmlezone Enabled**
latest log: https://gist.github.com/Yourname942/453a7eeee008c1defdeb5b775f9034da

Steps Taken:
1. Select Play in TwitchApp
2. Select Play in Minecraft Launcher
3. Create new world
4. Enter world
5. Exit Minecraft
6. Repeat Steps 1-5 (but now for step 3, enter the world instead of creating new world)

**With Bubmlezone Disabled**
latest log: https://gist.github.com/Yourn

[2020-08-16 15:38] TelepathicGrunt commented on #15
This does not seem to be a Bumblezone issue but another mod's issue. Someone is probably not registering their dungeon properly or something. Even worst, this person registered their piece under the Minecraft namespace which is a big nope.

Your bets best is to try and find who's mod "minecraft:bigdungeon" belongs to and give them this bug report. The issue is, idk who it might be.

[2020-08-16 15:40] TelepathicGrunt commented on #15
Oh it looks like it's Quark and someone has opened an issue with them as well
https://github.com/Vazkii/Quark/issues/2410

[2020-08-27 14:53] Yourname942 commented on #15
Thank you for the replies, I'm glad it may not be an issue on your end.

[2020-08-28 00:39] TelepathicGrunt commented on #15
Yeah. Vaskii found it is caused by a crash with BetterAnimal being on with Quark here: https://github.com/Vazkii/Quark/issues/2410#issuecomment-675651221

I'll close this report now. :)

[2020-08-28 00:39] #15 closed

[2020-09-01 23:50] TelepathicGrunt commented on #8
as of 1.16.2, this can be done with datapacks now for native spawns. Spawnrate for productive bees may need to be done by hardcoded config but only if people request it

[2020-09-01 23:50] #8 closed

[2020-09-01 23:51] TelepathicGrunt commented on #7
Protection of the hive is now in! No tool yet for pollination

[2020-09-02 03:40] nathanthefriendlybabydev opened #16 "Minecolonies 1.16.2 Compat Issue"
I have tried allocating more ram etc but when I have this mod in my folder on the newest forge on 1.16.2 it causes the game to exit with error code : 0

[2020-09-02 03:50] TelepathicGrunt commented on #16
Can you get me the latest.log file? You can find it in the logs folder below the mods folder. It'll basically tell me exactly what happened to cause the crash and I can then can investigate properly

[2020-09-02 04:15] nathanthefriendlybabydev commented on #16
I have experimented a bit and figured it actually only crashes when I load other mods, I am not sure what mod is causing the crash when paired with BumbleZone but I will post the latest log file

[2020-09-02 04:19] nathanthefriendlybabydev commented on #16
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/5160036/latest.log)
If you could let me know what you find out about which mod pairing is causing the issue that would be much appreciated

[2020-09-02 04:34] TelepathicGrunt commented on #16
Looks like it is crashing on this line of code.
https://github.com/TelepathicGrunt/Bumblezone/blob/f5755b98461c56cf3ac7cf1d2b8ef354037be91d/src/main/java/com/telepathicgrunt/the_bumblezone/entities/BeeAggression.java#L60

What I'm doing here is taking all the registered entity types and creating a temporary entity that I can use to check if it is in the Arthropod category so I can make bees be nat

[2020-09-02 04:41] nathanthefriendlybabydev commented on #16
The crash no longer occurs.  Here is the link to their source code for the Mercenary Entity
https://github.com/ldtteam/minecolonies/blob/version/1.15/src/main/java/com/minecolonies/coremod/entity/mobs/EntityMercenary.java

[2020-09-02 04:42] nathanthefriendlybabydev commented on #16
I am unable to access their source for 1.16.2 since it currently is in Beta

[2020-09-02 04:49] TelepathicGrunt commented on #16
Ok so it seems to just be a mod compat issue. I can try something to make it not crash if it fails to make a mob and basically skip it. I'll push out a fix tomorrow!

[2020-09-02 04:51] nathanthefriendlybabydev commented on #16
Thank you!

[2020-09-02 14:30] TelepathicGrunt commented on #16
V2.0.1 is now out and should prevent this specific crash! Hopefully it'll work now

https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files/3048125

[2020-09-02 14:30] #16 closed

[2020-09-02 21:50] nathanthefriendlybabydev commented on #16
Yes it does!  Thank you

[2020-09-07 22:10] Areorah opened #17 "Crash Upon Breaking Block"
Bumblezone Version: 2.0.3
https://gist.github.com/Areorah/62093f838929a7f1262c6ad93593e145

[2020-09-08 01:33] TelepathicGrunt commented on #17
Ok so this is the line it is crashing at.
https://github.com/TelepathicGrunt/Bumblezone/blob/05afae3fbd8027da74830ec001be3ad6bc63804a/src/main/java/com/telepathicgrunt/the_bumblezone/blocks/HoneycombBrood.java#L230-L231

But what is super weird is the active hand is null when it shouldn't be. The player is mining so their mining hand should be returned... Very odd.

Will look into!

[2020-09-08 01:50] TelepathicGrunt commented on #17
Fixed in 2.0.4!
Thank you for reporting this! :)

https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files/3052021

[2020-09-08 01:50] #17 closed

[2020-09-08 06:27] Mikeliro opened #19 "The dimension name bug"
In all versions
The dimension name looks like 'the_bumblezone.the_bumblezone' instead of 'The Bumblezone'

[2020-09-08 11:39] TelepathicGrunt commented on #19
May I ask where you are specifically seeing "the_bumblezone.the_bumblezone"?

To me, the dimension name should be "the_bumblezone/the_bumblezone" as shown here and there's no way to actually see the name of the dimension itself. Even vanilla's en_us.json file has no entry for their dimension names. Just to be clear, the dimension name is made of two parts. The first part is the mod ID which is "th

[2020-09-08 14:05] TelepathicGrunt commented on #14
1.16 version has ambiance in the way of loud bee buzzing sounds lmao. The biome json files allowed an entry for ambiance sound so I stuck the vanilla bee sounds into it.

I'll close this now as I give up trying to add ambiance to 1.15.2 and I no longer support 1.15.2.

Though if people really don't like the current loud bee buzzing sound, they could PR a sound file to me that doesn;t have any lega

[2020-09-08 14:05] #14 closed

[2020-09-08 18:17] Mikeliro commented on #19
In mods that request the name of the dimension where you are.
The vanilla dimensions appear with the respective names: Overworld, The End and Nether.
But the dimension 'The Bumblezone', appears as 'the_bumblezone.the_bumblezone'.

[2020-09-08 18:20] TelepathicGrunt commented on #19
Can you give me a name of those mods you were using for that? I think they may had handled vanilla dimensions themselves but I can see if they have a way for me to say what The Bumblezone should be called.

[2020-09-08 18:26] Mikeliro commented on #19
Corpse by henkelmax: https://www.curseforge.com/minecraft/mc-mods/corpse
GraveStone Mod by henkelmax: https://www.curseforge.com/minecraft/mc-mods/gravestone-mod

[2020-09-08 18:50] TelepathicGrunt commented on #19
Ok so with Gravestone, the dimension names are done through their config file. Try finding their config file and you should be able to add an entry for The Bumblezone to make it look nicer.
https://github.com/henkelmax/gravestone/blob/b286e1d0c413ed841d5e083dc5682aeaa8477dd2/src/main/java/de/maxhenkel/gravestone/ClientConfig.java#L30

I'm still looking into Corpse to see how they do it. For the lo

[2020-09-08 18:59] TelepathicGrunt commented on #19
Yeah corpse is showing the bumblezone's dimension name the way they wanted it to as "the_bumblezone". The Nether is shown as "the_nether".

![image](https://user-images.githubusercontent.com/40846040/92516616-76218580-f1e3-11ea-890a-789fd6762b14.png)

![image](https://user-images.githubusercontent.com/40846040/92516608-71f56800-f1e3-11ea-8cee-4316f5e67b5f.png)

But thank you for bringing this up!

[2020-09-08 18:59] #19 closed

[2020-10-19 05:06] TelepathicGrunt opened #20 "Bumblezone with BoP caused worlds to not be saved properly or loaded at times"
very strange. Blame did not show any dynamicregistry issues

[latest (1).log](https://github.com/TelepathicGrunt/Bumblezone/files/5399179/latest.1.log)

[latest (2).log](https://github.com/TelepathicGrunt/Bumblezone/files/5399178/latest.2.log)

[2020-10-20 02:07] TelepathicGrunt commented on #20
Did more testing and i cannot reproduce this issue alone with bumblezone in prod. Has to be a mod conflict going on i think

[2020-10-20 02:21] TelepathicGrunt opened #21 "Make honey slime not say it needs a datafixer in log"
![image](https://user-images.githubusercontent.com/40846040/96532225-7046a780-1259-11eb-83f3-16150bb50513.png)

smh mojang

[2020-10-22 05:16] Inpaladin opened #22 "[1.16.3] Incompatibility with Biomes O Plenty"
Saving and loading a world with the BOP world type cases it to freeze at "reading world data".  Checking the multimc log and the first thing I notice within a wall of errors is "[m[33m[21:04:51] [Render thread/WARN] [biomesoplenty/]: Failed to load save."  I hope that the log can give better information/insight on what's happening.  I went though every mod on my modlist 10 at a time, testing in

[2020-10-22 13:39] TelepathicGrunt commented on #22
Actually, you seem to have optifine on and I am assuming you have shaders on as well. Optifine with shaders breaks biome mods including The Bumblezone and Biomes o Plenty. https://github.com/sp614x/optifine/issues/4880

My suggestion would be to remove optifine tbh.

let me know if the crash still occurs with optifine off. If it is still crash, try putting on [1.4.3 Blame](https://www.curseforge.c

[2020-10-22 13:39] Inpaladin commented on #22
I don't use shaders on and worlds load fine without bop installed.

[2020-10-22 13:40] Inpaladin commented on #22
I'll try it with optifine disabled though

[2020-10-22 13:46] Inpaladin commented on #22
https://pastebin.com/Vh8YgXRs
here's the log with every mod disabled except for biomes o plenty and the bumblezone, after the same error happening again.  I'm not sure about with shaders but optifine seems to absolutely be compatible with this mod and not the culprit in this situation.

[2020-10-22 13:53] TelepathicGrunt commented on #22
Dang so it does seem to be a repeat of this issue. https://github.com/TelepathicGrunt/Bumblezone/issues/20
lets move over to there instead just so the issue reports are consolidated. Yeah, thank you for reaching out to me! Can you state all the mods you had on that issue report? I have someone else's mod list and I can compared the two to see which mod could be breaking Bumblezone by removing it's

[2020-10-22 13:54] TelepathicGrunt commented on #20
someone else's modlist with the issue
![image](https://user-images.githubusercontent.com/40846040/96881626-7650aa00-144c-11eb-9c8a-b531e516027b.png)

Gonna start going through it tonight to find which mod is either feeding bumblezone the wrong registry or is removing bumblezone biomes from the biome registry

[2020-10-22 13:54] #22 closed

[2020-10-22 14:04] TelepathicGrunt commented on #20
Wow I'm blind lol. Inpaladin in https://github.com/TelepathicGrunt/Bumblezone/issues/22 narrowed the issue to BoP with Bumblezone. very odd. What is BoP doing?

[2020-10-22 14:46] TelepathicGrunt commented on #20
Old crash before my patch. BoP caused my biome source to get a biome registry that does not contain my biomes which is very odd.
<https://pastebin.com/rTy59teF>

After my patch, it now chokes within BoP itself with this error: https://pastebin.com/31j2LUhp
It seems BoP is breaking the json dimension parsing somehow.
`[22Oct2020 10:42:01.061] [Render thread/ERROR] [net.minecraft.world.storage.SaveF

[2020-10-22 23:58] Inpaladin commented on #22
I pretty much narrowed it down to just bop and this mod, I noticed the "[biomesoplenty/]: Failed to load save." in the log and basically went disabling mods in batches of 10, starting from the top and avoiding removing library mods.  Because The Bumblezone has the "The" before it's name in the jar it was one of the last mods I disabled in testing.  Like I said, I did run the pack with everything b

[2020-10-22 23:59] Inpaladin commented on #22
apologies for not getting back to you sooner.

[2020-10-23 00:20] TelepathicGrunt commented on #22
Ah no problem. I did find it is most likely related to this issue on BoP. https://github.com/Glitchfiend/BiomesOPlenty/issues/1704

Basically BoP will break any dimension mod or datapack that uses dimensiontype json files for their dimensions. Hopefully BoP will fix this soon!

[2020-10-23 08:29] IzzelAliz opened #23 "Log spam involving "missing capability""
Version 1.15.2-1.3.10

Forge 31.2.45

Spam after player leaving server.

Logs
<details>
<pre>
[20Oct2020 10:16:04.574] [Server thread/INFO] [net.minecraft.network.play.ServerPlayNetHandler/]: asdzjx lost connection: Timed out
[20Oct2020 10:16:04.579] [Server thread/INFO] [net.minecraft.server.dedicated.DedicatedServer/]: asdzjx left the game
[20Oct2020 10:16:04.647] [Server thread/ERROR] [net.mine

[2020-10-23 13:08] TelepathicGrunt commented on #23
Hey, thank you reaching out to me! However, I do not support any Minecraft versions older than the latest (1.16.3) as I do not have to time to handle maintaining all my mods for every version. If another modder wants to come in and PR fixes into older versions of my mod, they are free to do so!

[2020-10-23 13:08] #23 closed

[2020-10-23 13:42] lulabyte commented on #22
Just wanted to add to the pile I'm having this same issue. I can load my world with BOP once, save and exit. But when I try to reload it gets hung up on "Reading World Data". When I remove BOP it loads again.

Thank you for all your work, on the mod and the bugs. I'm sure it's a trip!

[2020-10-23 13:50] lulabyte commented on #20
I do not have Bumblezone but I still get the error. My mod list:

 Waystones_1.16.3-7.3.0.jar"
 [1.16.2][Forge]+RPG-HUD-3.8.2.jar"
 [1.16.3]+SecurityCraft+v1.8.20.jar"
 AdChimneys-1.16.3-6.0.2.0-build.0017.jar"
 AdHooks-1.16.3-6.1.1.0-build.0017.jar"
 AdLods-1.16.3-4.1.0.1-build.0024.jar"
 aiotbotania-1.16.2-1.3.2.jar"
 angelring-1.16.3-1.3.3.jar"
 Apotheosis-1.16.3-4.3.2.jar"
 appliedenergistics2

[2020-10-23 13:52] TelepathicGrunt commented on #20
Are any of those a dimension mod? BoP will break dimension mods that uses json DimensionTypes. It also seems BoP has a few other triggers for the issue as well. Please show them your mod list on their issue report as that will be super helpful for them!
 Glitchfiend/BiomesOPlenty#1704

[2020-10-23 13:54] lulabyte commented on #20
Will do, thanks! I'll check for dimension mods and experiment with removing them.

[2020-10-23 13:59] lulabyte opened #24 "World loads>plays>saves once but hangs up on Reading World Data on save reload"

[2020-10-23 13:59] #24 closed

[2020-10-23 13:59] lulabyte commented on #24
This was meant for BOP my bad!

[2020-10-23 14:00] Rory0merchury opened #25 "Bumblezone Incompatible with Resourcefullbee's mod"
minecraft crashes on launch whenever bumblezone and resourcefullbee's mod is installed.
took me 2 days to pinpoint it in my WIP modpack.

see hastebin for more info:
Hastebin: https://haste.romvoid.dev/nibugaxide.yaml

mcver 1.16.3 with latest forge .25

[2020-10-23 14:02] TelepathicGrunt commented on #25
I need more info of what you mean. What minecraft version? Latest Forge version and latest version of both those mods? What is happening that shows they are incompatible?

[2020-10-23 14:04] Rory0merchury commented on #25
updated main post accidentally posted enter when creating this issue

[2020-10-23 14:05] TelepathicGrunt commented on #25
Looks like our coremods might be conflicting. I'll check it out when I get a chance

[2020-10-23 14:07] Rory0merchury commented on #25
Mod versions: the bumblezone [2.1.1] and resourcefullbee's ver [1.16.3-0.5.4b]

[2020-10-24 03:19] TelepathicGrunt commented on #25
Found it. It is my BeeEntityInvoker mixin conflicting in Resourceful Bees's AT. Will try and apply a fix for that. Thank you for reaching out to me about this!

[2020-10-25 05:04] TelepathicGrunt commented on #25
2.2.0 is now out and fixes the crash! In fact, I went ahead and add mod compatibility directly with Resourceful Bees as well!

[2020-10-26 07:15] Inpaladin commented on #22
yeah I can 100% confirm that it's an issue on BOP's end, I tested it with other dimension mods and got the exact same issue.

[2020-10-26 23:35] bessiq commented on #25
Not sure that Resourceful Bees got the memo, because running both mods together causes a crash during early loading. Tried RBees 0.5.4b and 0.5.5b on Forge 34.1.25. Game loads fine with one or the other enabled, just not both.

I've been trying to use RBees off and on since 1.15.2, and I just have not had very good luck with it. I mean Productive Bees is still not registering features correctly (o

[2020-10-26 23:47] bessiq opened #26 "Forge 34.1.31 - New Forge, new problems"
Doesn't seem to care much for your zone of bumbling. Could be a Forge goof/mod-breaking update, but thought I'd let you know.

crash report: https://gist.github.com/bessiq/00851013ddb2ddb7a8932f7caa99bb42

[2020-10-26 23:48] TelepathicGrunt commented on #26
Yeha this is due to a breaking change caused by forge. You gotta downgrade to .25 until I can get some friends to help convert my vanilla registration to forge registration.

[2020-10-26 23:51] TelepathicGrunt commented on #25
Hmm. I'll check this out once the forge breaking change is taken care of for my mod and theirs

[2020-10-27 14:48] TelepathicGrunt opened #27 "teleportation mode 2 and 3 bugged"
someone reported it will not correct place the player at the right height

[2020-10-30 01:36] TelepathicGrunt commented on #20
latest bop fixed this issue

[2020-10-30 01:36] #20 closed

[2020-10-30 02:45] Inpaladin opened #29 "[1.16.3]Incompatibility with newer versions of forge."
[crash-2020-10-29_19.42.29-fml.txt](https://github.com/TelepathicGrunt/Bumblezone/files/5462683/crash-2020-10-29_19.42.29-fml.txt)
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/5462684/latest.log)
latest.log and crash report

[2020-10-30 03:40] TelepathicGrunt commented on #27
v2.2.1 fixed

[2020-10-30 03:40] #27 closed

[2020-10-30 03:41] TelepathicGrunt commented on #26
v2.2.1 is out and should fix this!

[2020-10-30 03:41] #26 closed

[2020-10-30 03:41] TelepathicGrunt commented on #29
v2.2.1 is out and should fix this!

[2020-10-30 03:41] #29 closed

[2020-10-30 03:42] TelepathicGrunt commented on #25
v2.2.1 is out and should fix this! I was using Resourceful Bees v0.5.5b in my testing so update them too if you haven't. Let me know if issues persist!

[2020-10-30 03:42] #25 closed

[2020-11-01 19:17] TelepathicGrunt opened #30 "Someone reported sugar water cannot be picked up by bucket"
need to check this out

[2020-11-01 20:04] TelepathicGrunt commented on #30
hmm odd. I was able to pick up sugar water sources with buckets in both survival and creative. Guess it isnt bugged. Mod conflict maybe?

[2020-11-01 20:04] #30 closed

[2020-11-02 08:16] NovaNeon4 commented on #25
I believe the issue is still ongoing, I just installed resourceful bees and tried to enter the dimension to no avail. My game froze and then crashed. Here's the log:
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/5473548/latest.log)

[2020-11-02 19:25] TelepathicGrunt commented on #25
That log shows an issue with Bumblezone/Productive bees. Not resourcefulbees
It seems I mistyped this check that should be productive bees instead of potion of bees. Thank you for letting me know!
https://github.com/TelepathicGrunt/Bumblezone/blob/03ea5a4d11779bab0c346dd57558a96da15afce2/src/main/java/com/telepathicgrunt/the_bumblezone/features/SpiderInfestedBeeDungeon.java#L366

[2020-11-02 19:35] TelepathicGrunt commented on #25
v2.2.2 is out and should fix the bug where having potion of bees on and productive bees off causes a crash.

[2020-11-07 00:58] Withergaming101 opened #31 "Tons of Lag in Bumble Dimension"
Title says it all. Ill upload my log.
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/5504082/latest.log)

[2020-11-07 01:03] TelepathicGrunt commented on #31
I'm not seeing anything too out of the ordinary. Can you make a copy of the world, enter it, and do `/kill @e[type=bee] `? It might be that there's too many bees that the server is dying as a result because mojang didn't optimize the bee AI at all.

[2020-11-07 23:50] Gbergz opened #32 "[1.16.3] Weird null errors in console? (On a server)"
**Minecraft**: 1.16.3
**Forge**: 34.1.42
**Productive Bees Version**: [0.4.1.4](https://www.curseforge.com/minecraft/mc-mods/productivebees/files/3086091)
**BumbleZone Version**: [2.2.2](https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files/3100033)

Some of the spam in the logs: https://hatebin.com/nhudpqldaq

Any ideas?

**- Gbergz**

[2020-11-07 23:51] Gbergz commented on #32
Wrong place to post this i noticed, moving over to Productive bees.

[2020-11-08 17:35] TelepathicGrunt commented on #31
Anyone else reading this, it was bees lol. Lots of bees. oh god the bees!

[2020-11-08 17:36] TelepathicGrunt commented on #32
Reopening as it is indeed an issue on my end with generating their TEs. Gonna close https://github.com/JDKDigital/productive-bees/issues/106 now lol

 Working on a fix for it

[2020-11-08 19:54] TelepathicGrunt commented on #32
Should be fixed in 2.2.3! Keep watch on curseforge for it's approval. I also fixed the combs that are disabled on productive bee's side from spawning as well

[2020-11-08 19:54] #32 closed

[2020-11-21 04:44] Thedrummonger opened #33 "Crash When entering the Bumblezone Dimension"
My game Crashes to desktop when I load into the Bumblezone Dimension. According to the crash report it seems to be related to the Resourceful Bees compact.

Crash Report: https://pastebin.com/0JVF9fBr

Minecraft Version 1.16.4
Forge Version: 35.0.17
Bumblezone Version: 1.16.4-2.2.3
Resourceful Bees Version:  1.16.3-0.5.5b

[2020-11-21 04:59] TelepathicGrunt commented on #33
Did you disable any of resourceful bee's honeycombs or something?

Also, try this test jar and see if this fixes the crash. I feel like a resourceful bee comb was disabled and cause the crash as I dont get the crash myself when I test with the default configs and all
[the_bumblezone-1.16.4-2.2.4b.zip](https://github.com/TelepathicGrunt/Bumblezone/files/5577034/the_bumblezone-1.16.4-2.2.4b.zip)

[2020-11-21 05:19] Thedrummonger commented on #33
It works as intended with the Version you linked. I did edit the default's pretty heavily and disabled the "generateDefaults" option in  the resourceful bee's config. I should have mentioned that, but with how configurable resourceful bee's is I guess I didn't assume that would be an issue. But the changes you made seem to have fixed it!

[2020-11-21 13:16] TelepathicGrunt commented on #33
Thank you for reporting this! So my hunch was right that disabling their honeycombs could crash my mod cause I forgot to check to make sure the comb exists.

v2.2.4 is now approved on curseforge!
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files/3118645

[2020-11-21 13:16] #33 closed

[2020-11-21 13:17] TelepathicGrunt commented on #7
pollination tool seems to be a bit out of scope now that i think about it

[2020-11-21 13:17] #7 closed

[2020-12-02 14:39] TelepathicGrunt opened #34 "Register resourceful bees configuredfeatures in better place"
It's triggering blame i believe

[2020-12-05 18:02] Freebi85 opened #35 "Suggestion: A Portal to enter/exit dimension"
Hey There!
Great mod :) Keep up the great work!
A small suggestion from my side:
Give us the possibility to make a proper portal to enter and exit the dimension. Like the nether.
From a block of your choice or even better configurable in configs for pack devs like me :P

Cheers 🍺

[2020-12-06 00:54] TelepathicGrunt commented on #34
done

[2020-12-06 00:54] #34 closed

[2020-12-06 01:05] TelepathicGrunt commented on #35
Dunno if you are the same person that commented the same question on curseforge lol. Anyway, When I was making this mod, I thought long and hard about how to enter and leave it. I honestly dislike how everyone's dimension mods were basically clones of nether portals and such. Not really original. So I decided to be unique and more immersive. That's why I opted for using ender pearls on beehives to

[2020-12-06 01:05] #35 closed

[2020-12-06 01:23] TelepathicGrunt commented on #35
Looks like Portality can let you create portals to any dimension you want. This should world with The Bumblezone too
https://www.curseforge.com/minecraft/mc-mods/portality

[2020-12-06 09:02] Freebi85 commented on #35
Hey :) no I’m not the same person ^^
It’s totally fine and understandable. Thank you for your time and answer :) gonna look into this

Cheers 🍻

[2020-12-06 16:08] TelepathicGrunt opened #36 "Make bumblezone dim honeycomb tag for modded combs to import"
tag  |   the_bumblezone:imported_honeycombs

Also, make this comb tag be used for ores features and caves? hmm will need to check

![image](https://user-images.githubusercontent.com/40846040/101285420-1bcc9c80-37b3-11eb-9db1-1d28013df7a0.png)

[2020-12-11 14:28] TelepathicGrunt opened #37 "Make bumblezone config be per instance instead of per world"
some stuff is done before worlds are made so this needs an earlier conifg. Maybe split it so that some are per world and others are not.

[2020-12-11 14:30] TelepathicGrunt commented on #37
<https://github.com/TelepathicGrunt/Bumblezone/blob/07444900a6215051433903a4b18ed18c1fd1b2ad/src/main/java/com/telepathicgrunt/the_bumblezone/Bumblezone.java#L81>

[2020-12-11 15:22] TelepathicGrunt opened #38 "switch to using tags for valid blocks instead of config"
make things easier codewise too

[2020-12-11 17:01] TelepathicGrunt commented on #21
nope too cursed

[2020-12-11 19:11] #37 closed

[2020-12-11 19:11] #38 closed

[2020-12-11 19:11] #36 closed

[2020-12-22 09:27] binglingyao opened #39 "[1.16.4 + Mohist] Dying or teleporting to and from the Bumblezone will crash the Mohist server."
Game Version: 1.16.4
Server Core: mohist(Forge+Spigot)
Forge: 35.1.13
Mod Version: the_bumblezone-1.16.4-2.2.8

Issues:
-Clicking the rebirth button after a player dies will cause a server error.
(This error will not cause the server to crash completely, but it will cause the player to be unable to access the server and search for it.)

More information:
- An error has been reported in the backgro

[2020-12-22 16:00] TelepathicGrunt commented on #39
Rebirth? Do you mean the respawn button? Cause the game is dying at this line saying the capability attached to the player doesn't exist which shouldn't be possible. hmm
https://github.com/TelepathicGrunt/Bumblezone/blob/5a653cd2609a8d71a51472ab646ebfa1fdb894eb/src/main/java/com/telepathicgrunt/the_bumblezone/entities/PlayerTeleportation.java#L48

[2020-12-22 16:12] binglingyao commented on #39
Yes! Respawn button.

[2020-12-22 16:17] TelepathicGrunt commented on #39
I'm testing right now in my dev environment with a server and no matter what I do, I can't get this crash at all when I die and try to respawn. I think this may be a mod incompatibility issue with another mod doing something strange. Can you give me the zipped up mod folder or something so I can test with just forge and those mods on?

[2020-12-22 16:27] TelepathicGrunt commented on #39
Actually, scratch that, can you test this build and see if this fixes the crash and teleporting between the dimension works ok? I tried a fix

[the_bumblezone-1.16.4-2.2.9b.zip](https://github.com/TelepathicGrunt/Bumblezone/files/5730962/the_bumblezone-1.16.4-2.2.9b.zip)

[2020-12-22 16:30] binglingyao commented on #39
I can't give you a MOD pack for packaging because I can't upload it. but I can give you the mod list
- mcws-roofs-2.0.0-mc1.16.4
- mcw-bridges-1.0.4-mc1.16.4
- TravelersBackpack-1.16.4-5.3.1
- BetterCaves-1.16.3-1.0.6
- BetterMineshafts-Forge-1.16.3-1.1
- Aquaculture-1.16.4-2.1.7
- concreteconversion-1.16.4-6.1.0.0-forge
- pamhc2trees-1.16.3-1.0.0
- pamhc2crops-1.16.3-1.0.1
- pamhc2foodextended-1.

[2020-12-22 16:52] binglingyao commented on #39
You have successfully fixed the death crash bug.
Death in [Forge server] does not crash and can enter the world, and death in the world does not crash!
After confirming this message, I changed the server core for testing
- Mohist core(forge+spigot) It will no longer crash at death, but it will crash at the end of particle effects when entering the world of this mod. I don't know if it's the core i

[2020-12-22 16:54] binglingyao commented on #39
Tried uploading files, and fortunately it worked this time!It was not successful before!

[2020-12-22 17:26] TelepathicGrunt commented on #39
Ok I ran the mods with a Forge only server and tried respawning after death and teleporting to the bumblezone. No crash. I think it's something with spigot that is removing the Forge capability from the player. A capability is basically a Forge API that allows modders to attach extra data to the player. Bumblezone uses this so it can store the player's last dimension and position they were at when

[2020-12-22 17:34] binglingyao commented on #39
Thank you very much!Now I will temporarily play in The Forge server and wait for the fix solution. I guess this is a problem brought by the Mohist core. I will try to ask the development team of this core.

[2020-12-22 17:43] TelepathicGrunt commented on #39
Yeah, I asked some friends and they say it is most likely on Mohist's end. I just made an issue report on their GitHub page so hopefully they can investigate and fix it soon!

[2020-12-22 17:54] binglingyao commented on #39
oh!I'm getting ready to give feedback to their Github, and you're one step ahead of me!Thank you very much!I will always pay attention to the update and repair progress of Mohist core!
May your project get better and better!

[2020-12-26 13:03] TelepathicGrunt opened #40 "Config needed to control honeycomb brood blocks"
Brood blocks spawn many bees over time and can be a source of lag due to bad bee AI. Also, ask lithium if I can port just their bee optimization to forge

[2020-12-26 17:10] TelepathicGrunt commented on #40
Maybe also make brood blocks honor the mob cap?

[2020-12-29 04:50] Gaiyamato opened #41 "Not able to ender dimension"
Making a 1.16.4 modpack with Forge 35.1.28 I don't seem to be able to enter the Bumblezone at all.
Nothing at all in logs even mentioning Bumblezone.

I throw the ender pearl and nothing happens. I'm just teleported to the block as normal.

This was working with the same modpack in the 15.2 version.

[2020-12-29 04:59] Gaiyamato commented on #41
Never mind. Turns out that when using Overwolf, if you disable Productive Bees using the toggle button it also decides that Bumblezone requires it, and disables the mod due to dependencies. Manually re-enabling the mod solved it.

[2020-12-29 04:59] #41 closed

[2020-12-29 16:46] TelepathicGrunt commented on #41
wack. I have productive bees listed as an optional dependency so overwolf shouldn't be disabling bumblezone when productive is off. This might be something overwolf should know about so they can fix that behavior lol.

[2021-01-05 07:15] Spongman commented on #31
I'm seeing the same thing. just entered the dimension, it takes over 5 seconds for a block to break. no issues in the overworld (or the nether).

[2021-01-05 13:45] TelepathicGrunt commented on #31
@Spongman there is but the brood blocks tends to ignore it. After I finish porting ultra amplified mod, I'll come back to this, add config option to turn off brood blocks and see if i can make them only spawn bees till the area hits maybe 3x or 4x the mob cap instead of unlimited. The issue is mojang's bee ai is dumb as heck and will cause bee to fly upward to the ceiling and get stuck. The broods

[2021-01-05 13:45] TelepathicGrunt commented on #31
Reopening until I get around to addressing the issue

[2021-01-07 13:17] Zygus42 opened #42 "Error msg in log"
I'm seeing this in my log: "[07Jan2021 21:08:55.029] [Server thread/ERROR] [Portal/]: Missing dim type id for ResourceKey[minecraft:dimension / the_bumblezone:the_bumblezone]"

Is this something you need to look into ?

the_bumblezone-1.16.4-2.2.8
forge-1.16.4-35.1.29

[2021-01-07 15:40] TelepathicGrunt commented on #42
Is there any issue in game? Are portals working and no dimension is broken or missing? Logs sometimes say stuff that don't actually have an impact so I would like to know if something is actually wrong lol.

[2021-01-08 03:38] Zygus42 commented on #42
I'm still building the modpack, so haven't done that much indepth testing.  Just saw this msg in passing through the log and thought i'd pass it on.   I'll let you know if I find anything more concrete.

[2021-01-08 03:47] TelepathicGrunt commented on #42
Ah understood. Just be wary of this mojang bug where removal of any dimension could cause other mod's dimension or vanilla dimensions to disappear so be sure to make a new world each time you are adding/removing dimension mods to make sure it is working.
https://bugs.mojang.com/browse/MC-197860

[2021-01-12 05:55] TelepathicGrunt commented on #31
v2.2.9 is now out and should help this issue!
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge/files/3166041

What I had done is made Vanilla bees use my own custom AI when wandering in The Bumblezone dimension. This new AI is much lighter in performance and makes bees fly around in the air more evenly instead of clustering on the ceiling forever. Brood Blocks now will not automat

[2021-01-12 05:55] #31 closed

[2021-01-12 05:55] TelepathicGrunt commented on #40
done in v2.2.9

[2021-01-12 05:55] #40 closed

[2021-01-12 13:54] TelepathicGrunt commented on #39
I forgot to close this after modhist said they added capabilities 13 days ago lol. Bumblezone teleportation should be working on modjist now I think? Hopefully. Lmk if there’s any new issue!

[2021-01-12 13:54] #39 closed

[2021-01-16 17:51] Maxi90909 opened #43 "Crash on Joining world"
https://pastebin.com/8fUpB1Sc
It won't stop crashing when I try to join

[2021-01-16 17:58] TelepathicGrunt commented on #43
I seen this error before and it isn't bumblezone. I believe this is because you are using an outdated version of Optifine (G5).

Forge did a bugfix for one of its hooks which broke Optifine terrible hacky class replacements. G6 Optifine should stop crashing. On Optifine's download page, click `+ Preview versions` to find the G6 versions.

let me know if I am right and that fixes the crash. If it d

[2021-01-17 09:41] Maxi90909 commented on #43
It didn't fix It I updated Optifine too G6 and forge to 35.1.37 and it is still crashing

[2021-01-17 10:08] Maxi90909 commented on #43
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/5825845/latest.log)
https://pastebin.com/EDCu5u3Z
Here are My logs and the newest crash I had. The crash happened after I joined my minecraft world at this time I had already updated Optifine to G6 and Forge to 35.1.37.

[2021-01-17 14:39] TelepathicGrunt commented on #43
The good new is, the previous crash you had was optifine and now that is fixed. The bad new is, the crash you have now is from Survive's compat with Serene Seasons. Try updating both of those mods to latest. If it still crashes, then make an issue report to Survive and show this latest.log file so they can fix their code.

[code]

[2021-01-17 14:42] TelepathicGrunt commented on #43
I'll close this report now as it isn't a Bumblezone issue but good luck and I hope the other devs can help you out!

[2021-01-17 14:42] #43 closed

[2021-01-17 15:07] Maxi90909 commented on #43
I have already posted both issues on both mod Pages but the mods haven’t been updated and I haven’t got a reply yet

[2021-01-24 22:17] TelepathicGrunt opened #44 "Piston pushed into bee nest should teleport player and mobs into dimension"
this sounds like pain and suffering to do but putting it here as a reminder to try lol. Maybe damage half a heart due to being shoved into a block?

[2021-01-30 16:57] TelepathicGrunt opened #45 "Added buzzier bees compat info to bumblezone's JEI descriptions"
empty brood blocks can be revived by buzzier bee's bottled bees

[2021-01-31 02:32] TelepathicGrunt opened #46 "Spawn resourcefulbees using their config system"
https://github.com/Resourceful-Bees/ResourcefulBees/blob/master/src/main/java/com/resourcefulbees/resourcefulbees/api/beedata/SpawnData.java

![34E529EB-ACE9-4CF2-B1EF-69CB9A03764F](https://user-images.githubusercontent.com/40846040/106372912-88db5900-6342-11eb-9c8a-9200c900231f.png)
![EF181FF8-FA8E-4E4B-B911-534094402F3F](https://user-images.githubusercontent.com/40846040/106372913-88db5900-6342-

[2021-01-31 16:23] TelepathicGrunt commented on #21
![image](https://user-images.githubusercontent.com/40846040/106390492-b6fa8080-63b6-11eb-8f55-c3705f3ca11d.png)

[2021-02-03 21:33] Gbergz opened #47 "[1.16.5-Forge] Disabling Comb Block generation not working."
Title^

In the file ``the_bumblezone-mod_compatibility``, I've tried to disable this config line for productive bees comb block spawns:

``		# Spawn Productive Bees's various honeycomb variants in The Bumblezone
		# at all kinds of heights and height bands. Start exploring to find
		# where they spawn!
		# NOTE: Will require a restart of the world to take effect.
		#
		spawnProductiveBeesHoneycomb

[2021-02-03 21:45] TelepathicGrunt commented on #47
It seems i made it disable only the combs in the bee dungeons by mistake. You can disable them with a datapack however by overriding this file and list all the productive comb blocks you dont want to spawn
https://github.com/TelepathicGrunt/Bumblezone/blob/1.16/src/main/resources/data/the_bumblezone/tags/blocks/blacklisted_productive_bees_combs.json

[2021-02-04 02:00] TelepathicGrunt opened #48 "Make brood blocks spawn baby bees instead of adults"
oops. Yeah big oops lol

[2021-02-04 21:04] TelepathicGrunt commented on #42
closing this as nothing new came up. Just open a new issue report if something comes up with bumblezone!

[2021-02-04 21:04] #42 closed

[2021-02-04 23:51] TelepathicGrunt commented on #48
fixed in 2.2.12!

[2021-02-04 23:51] #48 closed

[2021-02-04 23:52] TelepathicGrunt commented on #47
fixed in 2.2.12! hopefully. lmk if you have any issues and check out the changelog as well. Some modcompat configs were adjusted too

[2021-02-04 23:52] #47 closed

[2021-02-04 23:52] TelepathicGrunt commented on #46
fixed in 2.2.12!

[2021-02-04 23:52] #46 closed

[2021-02-04 23:52] TelepathicGrunt commented on #45
fixed in 2.2.12!

[2021-02-04 23:52] #45 closed

[2021-02-04 23:54] TelepathicGrunt commented on #21
fixed in 2.2.12!

[2021-02-04 23:54] #21 closed

[2021-02-16 03:01] TelepathicGrunt opened #52 "Make datapack if possible to spawn pokecube's bee mobs in bumblezone"
![image](https://user-images.githubusercontent.com/40846040/108013285-5c2d6f80-6fd9-11eb-8f98-5a2ea15f9b1f.png)

[2021-02-18 12:22] TelepathicGrunt opened #53 "Make using Honey Block on Slime turn them into Honey Slime"
A full Honey Block should be expensive enough and this allows Honey Slime outside the dimension. Only make it work on small Slime.

[2021-02-26 19:05] charmesal opened #54 "Disabling shaders with dimension ID not working"
I'm trying to exclude the Bumblezone from shaderpacks because they make it way too dark.
The only way to do this, as far as I was able to find, is to create an empty folder in the shaders folder with the name
"worldN" where 'N' is the dimension ID (https://github.com/sp614x/optifine/issues/2729). Now I tried several variants like:
worldthe_bumblezone.the_bumblezone
worldthe_bumblezone
the_bumblezo

[2021-02-26 20:47] TelepathicGrunt commented on #54
the_bumblezone:the_bumblezone is the id of the dimension. I do not know how optifine works so I cannot help you here with it. Sorry. You'll have to find people who know more about shaders and optifine on how to help you.

Also, if optifine is still using numeric ids for dimensions, someone should slap sp614x lol. Numeric ids has been dead since 1.13 and should never be used for targeting dimension

[2021-02-26 20:47] #54 closed

[2021-02-26 20:51] charmesal commented on #54
Thanks for the quick reply.
If "the_bumblezone:the_bumblezone"is the ID then there is no way to exclude it from shaders as Windows does not allow me to have a ':' in a foldername. It's a shame but it can't be helped. People who wanna build a base will just have to do without fancy shaders.

I don't think optifine uses integers anymore but when checking shaderpacks they do use world<int> so my gues

[2021-02-26 20:53] TelepathicGrunt commented on #54
well, the thing is, all dimensions are resource location ids. For example, vanilla dimensions are minecraft:overworld, minecraft:the_nether, minecraft:the_end so it sounds like it is still using int ids. Again, you'll have to ask them how optifine works as I have no clue lol

[2021-02-26 21:42] charmesal commented on #54
I just so happened to notice [this](https://imgur.com/a/8Aro6r5) during startup. So perhaps you're right and they are still using int ids.
Creating a folder called world14 in the shaders folder worked like a charm.
The value changes when you add or remove other mods that add dimensions.
I'm not sure if this will ever be of use to you but it might be for others with the same issue I had so I wanted

[2021-03-04 23:02] TelepathicGrunt opened #55 "Perhaps have pollinated bees make honey on empty honeycomb blocks or fill brood blocks?"
AI is scary.

[2021-03-05 09:25] benbenlaw opened #56 "bumblezone biomes spawning in the end on a server"
on a server the end is filled with bumblezone biomes
![image](https://user-images.githubusercontent.com/42780877/110095376-c3e30900-7d94-11eb-8402-fa6071997d9a.png)

[2021-03-05 13:03] TelepathicGrunt commented on #56
This is sadly not an issue I can fix as I do not touch the end at all. It seems you have an end overhaul mod on that is grabbing Bumblezone’s biomes when it should not be. You should contact whatever end mod you have on to let that dev know their biome source is broken and needs tweaking.

But just wondering, what end mods you have on?

[2021-03-05 14:53] benbenlaw commented on #56
outer ends and endergetic

[2021-03-05 15:15] GiantLuigi4 commented on #56
What the

[2021-03-05 15:16] GiantLuigi4 commented on #56
Only thing I can think to ask is if the bumble zone biomes are marked as end boomes?

[2021-03-05 15:18] TelepathicGrunt commented on #56
@GiantLuigi4 nope
<https://github.com/TelepathicGrunt/Bumblezone/blob/e3b841af9d7b55d8ddf363aee6f045a7839188fb/src/main/resources/data/the_bumblezone/worldgen/biome/sugar_water_floor.json#L6>

My biomes are None type which make it stranger. It could be someone's biome source is broken in such a way that they return the world int biome ID from the layers which then is resolved to my biome. Commonly

[2021-03-05 15:20] GiantLuigi4 commented on #56
Yeah even if they were marked as end biomes, I don’t think abnormals core would automatically add them to the biome pool. Pretty sure you need to manually register them for generation with abnormals.

[2021-03-05 15:29] benbenlaw commented on #56
tried chocolate fix as well and it didnt work

[2021-03-05 15:31] TelepathicGrunt commented on #56
The reason chocolate didnt work is because this isn't a biome shuffling issue. That only happens for existing chunks and all a biome shuffling affects is the biome's colors and mob spawns. Not actual biome generation.

I cant reproduce this myself tho with endergetic, outer end, and bumblezone on. Are you able to export your modlist entirely? maybe another mod is needed to be on in order for this

[2021-03-05 15:33] GiantLuigi4 commented on #56
On the third issue opened relating to this, it does say on servers

[2021-03-05 15:33] benbenlaw commented on #56
https://www.curseforge.com/minecraft/modpacks/skyopolis-4

this mod pack, the end in single player works fine its only on servers

[2021-03-05 15:41] benbenlaw commented on #56
ok so with only thoose 3 mods bumblezone, enderic expansions and outerends the bug still happens

[2021-03-05 15:46] TelepathicGrunt commented on #56
No I believe you. I just cant seem to make the bug happen on my own server which is weird. Bugs that only occur randomly is a pain to debug. Hopefully Abnormal Core can figure out the cause
![image](https://user-images.githubusercontent.com/40846040/110138548-17a71f80-7da0-11eb-815c-558e0ba7b53b.png)

[2021-03-05 15:49] benbenlaw commented on #56
its super strange, the outer ends biomes and the endergetic biomes do not spawn

[2021-03-05 15:50] benbenlaw commented on #56
however these do
![image](https://user-images.githubusercontent.com/42780877/110138967-73869e00-7dca-11eb-9209-b180e3a07439.png)

[2021-03-05 15:50] TelepathicGrunt commented on #56
Looks like bagel linked you a ATM6 post about Forge updating and all. What version of Forge are you using for the server?

[2021-03-05 15:51] benbenlaw commented on #56
36.0.39 i can try updating it

[2021-03-05 15:51] TelepathicGrunt commented on #56
Hmm. Your forge version isnt the issue then. And you are making a new world to test the end each time right?

[2021-03-05 15:52] benbenlaw commented on #56
yep

[2021-03-05 15:55] TelepathicGrunt commented on #56
Here's a long shot. No idea if this will work but lets give it a try. Delete your config folder on the server so that it resets back to defaults. Maybe a broken config is doing this?

[2021-03-05 15:56] benbenlaw commented on #56
of the bumblezone or all of them

[2021-03-05 15:57] TelepathicGrunt commented on #56
All the configs. You can move the entire config folder to a different place as temporary storage if you dont want to nuke it entirely

[2021-03-05 16:00] benbenlaw commented on #56
ok

[2021-03-05 16:05] benbenlaw commented on #56
so i did have a default config for the bumble zone

[2021-03-05 16:08] benbenlaw commented on #56
but everything removed still happening

[2021-03-05 16:09] TelepathicGrunt commented on #56
Dang. That was my last suggestion. I got nothing now. Wtf is going on?

I’m curious tho, if you swap Bumblezone for The Undergarden mod, does The Undergarden biomes spawn in the end instead of bumblezone’s?

[2021-03-05 16:11] benbenlaw commented on #56
do you want me to test lol?

[2021-03-05 16:11] benbenlaw commented on #56
![image](https://user-images.githubusercontent.com/42780877/110141830-720aa500-7dcd-11eb-9558-9e4ca6cea4a6.png)

[2021-03-05 16:12] GiantLuigi4 commented on #56
https://github.com/TelepathicGrunt/Bumblezone/issues/56#issuecomment-791504921 Those things are not a biome, they just generate sometimes

[2021-03-05 16:12] TelepathicGrunt commented on #56
You can test if you want but I think you did more than enough work already on this lol. Still, it’s annoying I can’t get it to happen myself.

[2021-03-05 16:13] benbenlaw commented on #56
but they still can be found without the bumblezone mod installed

[2021-03-05 16:15] GiantLuigi4 commented on #56
If you were to make a vanilla worldgen datapack which just adds a single biome, would the same thing occur?

[2021-03-05 16:18] TelepathicGrunt commented on #56
here's a datapack that has 60+ new biomes (I just took the vanilla worldgen pack and change the minecraft folder to custom so now it is "custom:badlands" and all to make new biomes)
[testworldgenpack.zip](https://github.com/TelepathicGrunt/Bumblezone/files/6091757/testworldgenpack.zip)

[2021-03-05 16:22] benbenlaw commented on #56
where does it go inside the worlds data pack?

[2021-03-05 16:27] benbenlaw commented on #56
![image](https://user-images.githubusercontent.com/42780877/110143940-b303b900-7dcf-11eb-940a-3c2a1f88f8e7.png)
working???

[2021-03-05 16:28] TelepathicGrunt commented on #56
Just checked and the modpack is indeed using the latest abnormals core, endergetic, and bumblezone. Outer end is 4 versions behind but i doubt the issue is caused by that.

Where are you running the server on? Some places like Mohist is know to wreck mods

[2021-03-05 16:29] benbenlaw commented on #56
bisect hosting is the main server but im testing by running a server off home pc

[2021-03-05 16:29] TelepathicGrunt commented on #56
Ok so server is fine

[2021-03-05 16:33] TelepathicGrunt commented on #56
This is the absolutely last thing I can think of. Try this bumblezone jar. I registered my biomes at mod startup with dummy biomes and the json overrides it later.
[the_bumblezone-1.16.5-2.2.16b.zip](https://github.com/TelepathicGrunt/Bumblezone/files/6091840/the_bumblezone-1.16.5-2.2.16b.zip)

If this jar work, then something in abnormals isn't working properly I think for code biomes being overr

[2021-03-05 16:37] benbenlaw commented on #56
trying now

[2021-03-05 16:39] benbenlaw commented on #56
well well well its working

[2021-03-05 16:40] benbenlaw commented on #56
i deleted the end and added the updated mod and its also working on the server as well

[2021-03-05 16:41] TelepathicGrunt commented on #56
yep then it's a registry issue in abnormal's end biome provider layer most likely. Issue probably would occur with many other mods that uses dummy biomes to spawn json biomes in the overworld.

[2021-03-05 16:42] benbenlaw commented on #56
![image](https://user-images.githubusercontent.com/42780877/110145820-bdbf4d80-7dd1-11eb-9b68-869f76b68025.png)
the new generation in the box overridding the old map seems all good thanks :)

[2021-03-05 16:47] TelepathicGrunt commented on #56
I know what the issue is @GiantLuigi4
They need to override this method and swap the biome parsing inside to use the dynamic register passed in first before trying to resolve the biome with BiomeRegistry.getKeyFromID.

that issue caused me so much pain in bumblezone which is why I fixed it by making my own sampling method
https://github.com/TelepathicGrunt/Bumblezone/blob/dffbeb56a6f1deb87a7b0febb

[2021-03-09 13:01] Gbergz opened #57 "[1.16.5-Forge] Config generates .bak copy every time the game starts up."
### **Title ^**

In newer versions of Forge the config file for the Bumblezone generates a new config with the file extension ``.bak`` each time the game starts.

![image](https://user-images.githubusercontent.com/26634554/110473931-60801080-80df-11eb-913b-3a392a83ae24.png)

I know this happens/happened to other mods but got fixed after awhile, think it has to do with some recent forge changes.

M

[2021-03-09 13:29] TelepathicGrunt commented on #57
This is caused by a bug in forge that really doesn’t like configs having empty string defaults or having \r in the comments. https://github.com/MinecraftForge/MinecraftForge/issues/7669

I can edit my config file to work around the issue but keep watch on Forge for the true fix that will stop all the other mod’s bak files being made

[2021-03-09 14:03] TelepathicGrunt opened #58 "See about utilizing resourceful news’s biome blacklist"
![9F1484A4-585E-4836-9B67-6696F06EF6BE](https://user-images.githubusercontent.com/40846040/110482049-39611900-80b6-11eb-90f6-fc30e866378c.jpeg)

[2021-03-12 00:48] TelepathicGrunt commented on #57
Forge beat me to it lol. They released an update to try and fix the generation of .bak files. Can you try Forge 1.16.5-36.0.53 and see if the problem still persists? If it is resolved, I'll close this report as it's no longer a problem

Forge changelog:
https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.16.5-36.0.53/forge-1.16.5-36.0.53-changelog.txt
Build: 1.16.5-36.0.53 - Fri Mar

[2021-03-13 11:09] Gbergz commented on #57
Confirmed fixed in ``Forge-36.0.53`` 👍

[2021-03-13 11:09] #57 closed

[2021-03-23 18:31] TelepathicGrunt opened #59 "Faster comb mining enchantment for swords/shears"
![image](https://user-images.githubusercontent.com/40846040/112199338-719f4600-8be4-11eb-946e-19104a738eca.png)

[2021-03-23 18:32] TelepathicGrunt commented on #56
Closing now as latest Abnormals Core update has fixed the issue!

[2021-03-23 18:32] #56 closed

[2021-04-02 21:38] TelepathicGrunt opened #60 "Use EntityAttributeCreationEvent instead."
[02Apr2021 10:16:00.450] [Render thread/WARN] [net.minecraftforge.common.ForgeHooks/]: Called deprecated GlobalEntityTypeAttributes#put for the_bumblezone:honey_slime, use EntityAttributeCreationEvent instead.

[2021-04-15 00:53] #58 closed

[2021-04-17 01:32] TelepathicGrunt commented on #55
Hmm. This might be too hard to do without some mixin mess. Putting this on backburner some more

[2021-04-21 21:50] KajesLorian opened #61 "Crash upon joining server"
Both Server and Client loaded fine, but Client crashed when attempting to join server.

Forge 1.16.5
Modloader Ver. 36.1.0

https://pastebin.com/ZDiN6CMK

[2021-04-22 01:12] TelepathicGrunt commented on #61
thank you for the report but v2.4.1 hotfix was already released that should fix this issue. Try updating and see if the issue is resolved!

[2021-04-22 01:12] #61 closed

[2021-04-22 15:44] TelepathicGrunt commented on #60
done in 2.4.1

[2021-04-22 15:44] #60 closed

[2021-04-22 15:44] TelepathicGrunt commented on #59
done in 2.4.1

[2021-04-22 15:44] #59 closed

[2021-04-22 15:44] TelepathicGrunt commented on #53
done in 2.4.1

[2021-04-22 15:44] #53 closed

[2021-04-22 15:44] TelepathicGrunt commented on #52
done in 2.4.1

[2021-04-22 15:44] #52 closed

[2021-05-02 17:50] TelepathicGrunt opened #62 "make Brood Blocks use POI system to optimize finding them"
will make wrath of the hive's growing of brood blocks have better performance. Also will allow me to make a goal to have bees restore empty brood blocks

[2021-05-12 19:29] TelepathicGrunt opened #63 "Burrowing Bees"
Bees that will burrow through non-honey filled blocks (dropping them as an item) toward any player with wrath of the hive. This will allow new paths to the player for swarms of bees and prevent players from just covering themselves in blocks to collect honey and cheese through the wrath effects.

[2021-05-12 19:29] TelepathicGrunt opened #64 "Create tag for blocks that can triggered wrath of the hive when mined"
Would allow more customization and for people to remove blocks too

[2021-05-12 19:30] TelepathicGrunt opened #65 "Create tag for items to feed to bees for protection of the hive"
might be tricky due to bottles, buckets, and other containers, but I'll give it a shot

[2021-05-12 19:32] TelepathicGrunt opened #66 "Add Beehemoth from Nooby and his friends!"
Ridable mob that will spawn in the bumblezone rarely. May need a custom structure to spawn more

[2021-05-12 19:34] TelepathicGrunt opened #67 "Non-player mobs should be able to exit the bumblezone to the overworld if a hive block is at the corresponding coordinates"
issue is this could lead to lag if the check is excessive. Maybe once every 100 ticks for the entity out of bounds, it then checks for hive block to teleport to. Make sure to randomize the tick so multiple entities dont do it at the same time.

[2021-05-23 11:58] nyyxii opened #68 "Crash on server join"
Server boots up fine, but when a client joins the server, it crashes them entirely with the following message:

The game crashed whilst unexpected error
Error: java.lang.NullPointerException: Registry Object not present: the_bumblezone:sugar_water_still
Exit Code: -1

This is only when joining the server. Host is Aternos, version is lastest forge. Buzzier Bees and Productive Bees are included in t

[2021-05-23 12:22] TelepathicGrunt commented on #68
Can you share the full latest.log file? Does the client have bumblezone on?
Without the full log, there's nothing I can really do

[2021-05-23 12:23] nyyxii commented on #68
Clint does have BZ on. Full log here https://mclo.gs/xt7oyC3 .

[2021-05-23 12:27] TelepathicGrunt commented on #68
I'm guessing this part is where you got disconnected? Cause it seems the server didn't crash and the error may be clientsided
[code]

Would you be able to share your latest.log from the client's side after attempting to joining the server?

[2021-05-23 12:35] nyyxii commented on #68
Time: 5/23/21 7:48 AM
Description: Unexpected error

java.lang.NullPointerException: Registry Object not present: the_bumblezone:sugar_water_still
	at java.util.Objects.requireNonNull(Objects.java:290) ~[?:1.8.0_51] {}
	at net.minecraftforge.fml.RegistryObject.get(RegistryObject.java:120) ~[?:?] {re:mixin,re:classloading}
	at com.telepathicgrunt.the_bumblezone.blocks.HoneyCrystal.func_204507_t(Hon

[2021-05-23 13:31] pm065 opened #69 "Add Enchantment Descriptions compat for Comb Cutter"
Just a line in en_us.json.
`"enchantment.the_bumblegarden.comb_cutter.desc": "add description here"`
I'd do it myself but I don't actually know what the enchantment does.

[2021-05-23 13:38] TelepathicGrunt commented on #68
Ok so here's the weird part, your clientsided log says the HoneyCrystal block's getFluidState call is getting the Sugar Water fluid before the fluid is made. Except this should not be possible at all. I am not able to reproduce this in my development environment as the fluid is always constructed before the getFluidState is called. I was even able to launch a server with Bumblezone on both server

[2021-05-23 13:45] nyyxii commented on #68
Forge & Bumblezone are both latest, and I have _no_ idea what Mohist even is, so it's safe to assume I'm not using it. I can test it without optifine & get back to you on it, otherwise I've got. Absolutely no clue what the issue is. One moment.

[2021-05-23 13:47] TelepathicGrunt commented on #69
How do you see enchantment descriptions? Is it something only this mod does? https://www.curseforge.com/minecraft/mc-mods/enchantment-descriptions

anyway, I'll add it next update but you can always find out what everything does in my mod by looking at my mod page https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-forge

From the page:

# Enchantments - 1 new enchantment
## Comb Cutter
-C

[2021-05-23 14:52] nyyxii commented on #68
Just tested, removing optifine doesn't fix it, not sure what else to do

[2021-05-23 14:59] TelepathicGrunt commented on #68
I asked another modder what they think and they suggested it could be another mod causing the issue. Make a backup of your world on the server and try removing mods until the issue goes away. If that fails, you can just go back to the backup world and remove bumblezone for now until someone else comes along and knows whats up. very odd

[2021-05-24 18:21] pm065 commented on #69
Oh, thank you! Yes, it is only that mod, though it's supported by many others. Searching through the enchantments in my modpack this was one of the few that had no description :)

[2021-05-24 18:21] #69 closed

[2021-05-27 15:23] TelepathicGrunt opened #70 "Add bumblezone recipes to recipe book"

[2021-06-09 11:33] TelepathicGrunt commented on #70
decided against this as advancement recipes hit load times heavily and recipe book doesnt work with modded recipe types anyway

[2021-06-09 11:33] #70 closed

[2021-06-09 17:25] TelepathicGrunt commented on #65
added in v2.4.4!

[2021-06-09 17:25] #65 closed

[2021-06-09 17:25] TelepathicGrunt commented on #64
added in v2.4.4!

[2021-06-09 17:25] #64 closed

[2021-06-09 17:26] TelepathicGrunt commented on #62
phase one added in v2.4.4. Full switch over to poi will be done in 1.17

[2021-06-09 17:27] TelepathicGrunt commented on #68
Hmm. So far, no one else seems to be reporting the same issue. I'm gonna close this issue report as we can't figure out what is happening and I'm gonna be focusing on 1.17 soon instead of 1.16.5. If you ever figure out what the cause is, please let me know!

[2021-06-09 17:27] #68 closed

[2021-07-06 00:05] TelepathicGrunt commented on #67
added in v2.4.8

[2021-07-06 00:05] #67 closed

[2021-07-06 00:06] TelepathicGrunt commented on #44
added in v2.4.8

[2021-07-06 00:06] #44 closed

[2021-07-23 11:24] Lucky-Red opened #72 "Bumblezone not respecting blacklisted Resourceful Bees"
In the attached config, I've blacklisted the Dragon, Wither, and Netherite bees from the default spawns in the Bumblezone, yet the bees and their comb blocks both continue to spawn in the dimension.
https://pastebin.com/8ikmuLnN
This is in the 1.16.5 version of the mod for Forge

[2021-07-25 13:06] TelepathicGrunt commented on #72
hmm I am still using config entry for that blacklist. I'll see what's up with it but I may just turn it into an entitytype tag since resourceful bees has a separate entitytype for every bee. Would that be more ideal for you?

[2021-07-25 13:13] TelepathicGrunt commented on #72
Oh your blacklist is off. it's not resourcefulbees:wither, it's resourcefulbees:wither_bee. Add _bee to the end of all your entries and see if that works

[2021-07-28 08:04] Lucky-Red commented on #72
Making those changes results in breaking the compatibility with Resourceful Bees, preventing any blocks or entities from the mod from spawning in the Bumblezone.
Here's the error from the debug.log
https://pastebin.com/L2UpvZAi

[2021-07-28 12:28] TelepathicGrunt commented on #72
oh no. I think i see my issue. I did a dumb in my code. Sorry hang on

[2021-07-28 12:36] TelepathicGrunt commented on #72
v2.4.10 bumblezone is now released and should fix this issue. Try that version and let me know if it no longer crashes and blacklists the bees properly

[2021-07-29 06:32] Lucky-Red commented on #72
The update appears to have fixed the issue. Everything seems to be working fine now!

[2021-07-29 11:53] TelepathicGrunt commented on #72
Nice! I'll close this now

[2021-07-29 11:53] #72 closed, assigned to TelepathicGrunt

[2021-08-07 11:04] TelepathicGrunt commented on #66
I'll make direct compat with carrier bees instead for the beehemoth

[2021-08-07 11:04] #66 closed

[2021-10-02 20:51] #62 closed

[2021-10-02 20:51] #55 closed

[2021-10-02 20:52] TelepathicGrunt opened #75 "Bee Bread item suggestion"
![DABB04A4-21AB-4F3F-A394-F81186715B53](https://user-images.githubusercontent.com/40846040/135731472-b05fb8ea-9319-45fc-b965-379be09bee61.png)

[2021-10-03 14:10] seanimusprime opened #76 "Strange Incompatibility with Advanced Mining Dimension and/or BetterNether Reforged"
Since adding BetterNether Reforged to my server, our mining dimension's biomes keep getting overwritten with biome properties from BetterNether and The Bumblezone. As far as I'm aware, this issue didn't exist before adding BetterNether. The biomes themselves are not generating, just the properties (fog color, water color, ambient music, mob spawning, etc). The mining dimension is supposed to be pe

[2021-10-03 14:24] TelepathicGrunt commented on #76
Sounds like you had the biome shuffling bug where the addition of new biomes caused the internal ids to shift. In Mc all the way until 1.18, biomes are stored in the chunk by their numeric IDs instead of their resourcelocation. So if new biomes are added by datapack or mods, there’s a chance the old biomes are shifted to a different Id and the world now reads the generated biomes as a different bi

[2021-10-03 15:01] seanimusprime commented on #76
I have chocolate fix and Biome ID Fixer and the biomes are still being shuffled. Forge is also updated to the most recent 1.16.5 version as well.

[2021-10-03 22:11] TelepathicGrunt opened #77 "Create causes Honey Fluid and Sugar Water Fluid both gets a dense yellow fog that makes it impossible to see in the fluids"
Main issue report with the info about the problem: https://github.com/Creators-of-Create/Create/issues/2490

If going in either of these fluids looks like the image below, then just stay out of the fluids for now until we figure out what the cause of the issue is. Sorry about that. If the fluids look like below but you do not have Create/Flywheel on, let me know.

![image](https://user-images.gith

[2021-10-03 22:13] TelepathicGrunt commented on #76
yeah i'll close this as it is that biome shuffling bug and you already got a workaround in the other issue report. No clue why forge broke. I'm hoping it was a one time thing.

[2021-10-03 22:13] #76 closed, assigned to TelepathicGrunt

[2021-10-04 00:26] Pepelespooder opened #78 "Newest update causes error on startup"
Newest version Seems to cause a honey liquid error for me.

[crash-2021-10-03_20.22.25-client.txt](https://github.com/TelepathicGrunt/Bumblezone/files/7274786/crash-2021-10-03_20.22.25-client.txt)

[2021-10-04 00:37] TelepathicGrunt commented on #78
May I ask what you were doing at the time to cause the crash? Something is trying to set the honey fluid properly to level 9 when it cannot go higher than 8. And the part that is crashing is here so it seems like a possible mod conflict. But the logs doesnt say anything and I do not get the crash myself. Though I will try and see if I can restrict the value here
https://github.com/TelepathicGrunt/

[2021-10-04 00:40] TelepathicGrunt commented on #78
Can you unzip and try this jar? It should fix the crash by preventing the fluidLevel field from being lower than 0 or higher than 8. Though it may make whatever thing was trying to get a level 9 fluid to break somewhere. Interestingly enough, vanilla does restrict the value itself but then, why do i not crash if I use only bumblezone.... hmm
[the_bumblezone_forge-2.5.1-b+1.16.5.zip](https://github

[2021-10-04 00:46] Pepelespooder commented on #78
I was Starting up minecraft and it crashed on start up Something must've been setting the Value on start up? In the previous version i do not get this error so im currently just using that at the moment

[2021-10-04 00:48] TelepathicGrunt commented on #78
the previous version of bumblezone does not have the honey fluid. I went ahead and released the restriction version onto curseforge so the crash shouldn't happen now. but yeah, thank you for letting me know lol. Still strange tho

[2021-10-04 00:48] #78 closed, assigned to TelepathicGrunt

[2021-10-05 00:29] Pepelespooder commented on #78
@TelepathicGrunt  Grunt the only thing I can think of after looking back into that log is , productive bees, Buzzier bees , or Resourceful bees. specifically the one that adds a honey fluid it self ? which is think is productive bees? Only thing I can think of that could possibly be trying to change the fluid for something relating to honey

[2021-10-05 01:00] TelepathicGrunt commented on #78
Whatever it was, it shouldn't cause an issue. Since vanilla limits their vanilla fluid property at the same spot, there must had been an edge case I have missed and thus, blew up. Dunno what it was but I don't think i need to investigate further unless my fix also blows up lol

[2021-10-05 02:52] WenXin20 opened #79 "Sugar water can be placed in the nether"
`Minecraft v1.16.5`
`Forge v36.2.4`
`Bumblezone v2.5.1`

If a honey crystal is waterlogged, sugar water will be placed in the nether.
Also noticed that honey crystals will become waterlogged when placed in flowing sugar water, which spreads the water in the nether even more. (Not sure if that is intended or not.)
Also noticed that no empty bucket is returned when waterlogging the honey crystal in

[2021-10-05 13:25] TelepathicGrunt commented on #79
thank you for reporting this! New update is released to fix this. attempting to waterlog the honey crystal in nether will now fail. It wont clear out the crystals you already waterlogged so remove those from your world and it should be good now

[2021-10-05 13:25] #79 closed, assigned to TelepathicGrunt

[2021-10-05 16:07] WenXin20 commented on #79
Thanks! And no worries, it was just a test creative world. :D

[2021-10-06 00:43] TelepathicGrunt opened #81 "Add Beeheemoth"
https://github.com/noobanidus/carrier-bees/blob/1.16/src/main/java/noobanidus/mods/carrierbees/client/model/BeehemothModel.java model
https://github.com/noobanidus/carrier-bees/blob/1.16/src/main/java/noobanidus/mods/carrierbees/client/render/BeehemothRenderer.java renderer
https://github.com/noobanidus/carrier-bees/blob/1.16/src/main/java/noobanidus/mods/carrierbees/entities/BeehemothEntity.java

[2021-10-06 00:46] TelepathicGrunt opened #82 "Spawn Caves and Cliffs (blackgear)'s candles in bee dungeons"
for mod compat

[2021-10-12 00:44] madkort opened #83 "Crash with structure spacing with an unknown mod"
Hello, devs.

It seems like I'm experincing some world gen issues while playing the game with your mod.
I think either bumblezone or terraforged is the issue. So I'll report error code for both devs, ty.

Description: Exception in server tick loop

[code]

[2021-10-12 01:00] TelepathicGrunt commented on #83
I dont think it is something on bumblezone's end but that log isn't very helpful sadly. I tested with terraforged and the world seems to load just fine.
![image](https://user-images.githubusercontent.com/40846040/136872918-6573c9fc-8261-4259-8381-19f535682605.png)

If you can, could you share your modpack with me? Preferably, the modpack profile (curseforge and some launchers let you export it to

[2021-10-12 01:44] madkort commented on #83
I'm running it on forge-1.16.5-36.2.8 server, probably this is the case?

[2021-10-12 01:51] TelepathicGrunt commented on #82
added in v2.6.0

[2021-10-12 01:51] #82 closed, assigned to TelepathicGrunt

[2021-10-12 01:52] TelepathicGrunt commented on #81
added in v2.6.0

[2021-10-12 01:52] #81 closed, assigned to TelepathicGrunt

[2021-10-12 01:53] TelepathicGrunt commented on #83
Forge itself wouldn't cause that crash. I really would need to have the modpack in order to narrow down what is happening. No rush tho. Just give me the modpack when you got time and are able to.

[2021-10-12 02:29] madkort commented on #83
https://dropmefiles.com/2p2jW

[2021-10-12 02:33] madkort commented on #83
Server crash happens after 5-10 mins of playing / flying in the overworld.

[2021-10-12 17:00] TelepathicGrunt commented on #83
Weird. I updated bumblezone in your modlist to latest and then spent an hour flying around/teleporting to a ton of structures but I couldn't not get a crash to occur
![image](https://user-images.githubusercontent.com/40846040/136998503-0dea3fa7-45ac-4986-99d0-54628ad4792a.png)

Maybe there's a bad config setting? Can you send me your config folder so I can test with your configs so we can rule tha

[2021-10-14 02:20] TelepathicGrunt opened #84 "Beehemoth speed config"
Also, maybe space to move beehemoth upward

[2021-10-15 16:15] RitzScythe opened #85 "Illagers+ mod caused bumblezone dimension to freeze/deadlock/crash"
Crash when going into bumble zone can provide whatever additional info needed.

[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/7354633/latest.log)
[debug.log](https://github.com/TelepathicGrunt/Bumblezone/files/7354634/debug.log)
[crash-2021-10-14_21.09.20-client.txt](https://github.com/TelepathicGrunt/Bumblezone/files/7354637/crash-2021-10-14_21.09.20-client.txt)

[2021-10-16 01:08] TelepathicGrunt commented on #85
Can you send me your modpack or zipped up mod folder so i can test and see if I can reproduce the issue? The crash-2021-10-14_21.09.20-client.txt shows immersive engineering but when testing that mod with bumblezone, I get no crash.

[2021-10-16 01:16] RitzScythe commented on #85
[Asagia Realms-v0.0.5REDUX.zip](https://github.com/TelepathicGrunt/Bumblezone/files/7356517/Asagia.Realms-v0.0.5REDUX.zip)
idk if this is what you want but if this doesnt work its on curseforge, its the latest version of Asagia Realms

Thank you very much by the way!

[2021-10-16 02:19] TelepathicGrunt commented on #85
So your server may be deadlocking and crashing as a result of being stuck. When testing myself, the dimension froze and when i did a thread dump to find out what code was running, it was [Pirates And Looters Kraken Update mod](https://www.curseforge.com/minecraft/mc-mods/pirates-and-looters-mod)'s code. Whatever code that mcreator mod was running, it is not safe world worldgen I'm guessing. Upon d

[2021-10-16 03:28] RitzScythe commented on #85
so im trying on a single player world, and removing it stops the crash, but the world gen is still stalled. only a small number of rendered are chunks and things like entities are frozen. Could do /spawn to get back to overworld with no crash though

[2021-10-16 03:47] RitzScythe commented on #85
are we sure it wasnt illagers+ because I tried a new world and there was an archer outpost from that mod in the bumblezone.

Removed both and it seems to fix it, illagers are still in the already generated area of bumblezone but no new stuff and it no longer stalls

[2021-10-16 11:28] TelepathicGrunt commented on #85
I saw the illagers+ structure but it didn't stall for me when i kept that on. But good to know it was both of those mods. Thank you for letting me know! It looks like illagers+ has a config with a dimension blacklist for their structures so you can add bumblezone dimension to their blacklist and keep their structures out of my dimension

[2021-10-16 12:22] TelepathicGrunt commented on #85
Oh sorry. After you mentioned Illagers+, I re-looked at it and I think it may just be Illagers+. Not the pirates mod.

See the lighting thread dying in the logs in my test with Illagers+ and Bumblezone?
https://paste.ee/p/835L6

So funny thing about the minecraft lighting system. It's bad.
https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/4870

Specifically, if a structure replace

[2021-10-25 22:15] TelepathicGrunt commented on #85
illagers_plus-1.16.4v1.7 update fixes this incompat now. So updating Illagers+ should work. I'll close this issue report now.

[2021-10-25 22:15] #85 closed, assigned to TelepathicGrunt

[2021-10-25 22:16] TelepathicGrunt commented on #84
added in v2.6.4

[2021-10-25 22:16] #84 closed, assigned to TelepathicGrunt

[2021-10-25 22:17] TelepathicGrunt commented on #83
Are you still having the issue or did you figure it out? if not, can you send me you configs and datapack folders? Otherwise, I'll close this report in a few days due to being unable to reproduce the issue

[2021-10-26 22:14] TelepathicGrunt opened #86 "Make teleporting out of bz work while riding an entity"

[2021-10-28 01:18] HockeyZman2000 opened #87 "[1.16.5 Forge] Better End Forge crashes Bumblezone at world load"
I'm posting this here in hopes someone can tell me why my server keeps crashing. Not even sure if its this mod or another structure, but the server keeps crashing after a couple minutes due to this error. If there's a certain mod causing it that I haven't seen please lmk!

Crash Report: https://pastebin.com/khJRLWDa

Server Log:
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/

[2021-10-28 01:30] TelepathicGrunt commented on #87
Looks like a mod's structure spacing/separation was null and that crashed the game. Try putting on Blame and then recreate the crash and give me the latest.log https://www.curseforge.com/minecraft/mc-mods/blame

Although the crash here is occuring in a very strange spot that blame may not be able to detect at. If you can send me your modpack profile (curseforge launcher can export a modpack profil

[2021-10-28 01:44] HockeyZman2000 commented on #87
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7430349/latest.log)

This is the latest log after installing Blame.
Crash occurs a few minutes after server startup is finished, regardless on if a player is on the server or not.

[2021-10-28 01:45] HockeyZman2000 commented on #87
Let me get that modpack for you

[2021-10-28 02:01] HockeyZman2000 commented on #87
Github wasn't letting me directly upload the zip file so I had to do a workaround. Here is the modpack for both client and server.

https://drive.google.com/file/d/1gToUSF5Ayv9X57hlJFMfu9WrzlHDWnT-/view?usp=sharing

[2021-10-28 04:59] TelepathicGrunt commented on #87
Sorry for delay. Something weird is going on where the crash only seems to occur with certain combinations of mods on. Can you try removing bumblezone or advancedrocketry and remove both and see if that makes the crash go away? It takes me so long to load the modpack so I was only able to launch a few time and for some reason, this mixin i made to try and find what spacing is null for what structu

[2021-10-28 06:22] HockeyZman2000 commented on #87
Not a problem. It does take a considerable amount of time for it to load, sorry about that. I noticed that someone on The Bumblezone GitHub mentioned having a similar issue with structure spacing a few days ago, specifically issue TelepathicGrunt/RepurposedStructures#83. Maybe they're related somehow? Removing The Bumblezone seems to have stopped the server from crashing.

[2021-10-28 11:44] TelepathicGrunt commented on #87
The link you gave is about the random I changed and not anyone having a structure crash.

Though I am not sure why the crash is occurring thinking that there’s no spacing configs for structures in Bumblezone and why I cannot reproduce it with Bumblezone alone.

I’ll double check it’s codec later and check if the level.dat is corrupted for bumblezone dimension or not

[2021-10-28 14:28] TelepathicGrunt commented on #87
Interesting, I disabled Better End Forge and kept on all the other mods and the crash went away. As far as I can tell my mod's codec in bumblezone looks to be fine and the dimension json has the two structures with their spacing so it should not be null ever.
https://github.com/TelepathicGrunt/Bumblezone/blob/60d0d1209ebe3b08d1a3ff14beeb32626101344a/src/main/java/com/telepathicgrunt/the_bumblezone

[2021-10-28 16:20] TelepathicGrunt commented on #87
Ok so the BetterEndForge-Reforked mod had a cave structure that is not registered and its spacing not setup in its  betterendforge-1.16.5-2.2.jar. They did fix the issue in their codebase so you just need to wait for their next update and then this crash should go away

[2021-10-28 21:00] HockeyZman2000 commented on #87
Thank you so much for all your help! That makes sense because I had just updated to that version along with updating a ton of other mods. I'll wait for the update and hopefully the crash will be fixed.

[2021-10-29 00:33] TelepathicGrunt commented on #87
The dev was quick and released betterendforge-1.16.5-2.3 update now. I tested and the crash no longer happens now. Looks like the issue is resolved. Thank you for reporting!

[2021-10-29 00:33] #87 closed, assigned to TelepathicGrunt

[2021-11-04 16:52] TelepathicGrunt commented on #86
done in latest update

[2021-11-04 16:52] #86 closed, assigned to TelepathicGrunt

[2021-11-04 16:53] TelepathicGrunt commented on #83
Due to inactivity and inability for me to reproduce this bug, I'm gonna close this issue report. Just respond if you are still having the issue with the info i need and I'll re-open this report

[2021-11-04 16:53] #83 closed, assigned to TelepathicGrunt

[2021-11-04 16:53] TelepathicGrunt opened #89 "advancement for making a queen beehemoth"

[2021-11-07 17:08] TelepathicGrunt opened #90 "Caves and Cliffs Backport 7.0+ breaks with bumbelzone"
https://github.com/ItsBlackGear/CavesAndCliffsBackport/issues/2

A package was renamed on their end so right now, either Bumblezone v3.1.0+ or Caves and Cliffs v7.1.2+ will fix the compat issue. Whichever mod update comes out first lol.

This issue report is to help people know about this incompat and to wait for an update for either mod

[2021-11-09 00:09] TelepathicGrunt commented on #89
added advancements in v3.1.0

[2021-11-09 00:09] #89 closed, assigned to TelepathicGrunt

[2021-11-14 12:07] #90 closed, assigned to TelepathicGrunt

[2021-11-18 23:45] TelepathicGrunt commented on #75
done in new update v3.2.0

[2021-11-18 23:45] #75 closed, assigned to TelepathicGrunt

[2021-11-30 23:13] TelepathicGrunt opened #91 "Pollen particles"
spawn infrequent ambient particles of pollen in biomes. Denser in pollinated biomes

[2021-12-18 01:20] TelepathicGrunt commented on #91
will be added in 1.18

[2021-12-19 21:44] GamerGaven opened #92 "1.18.1 Crash w/ Optifine"
Will immediately crash upon loading the game up.
[crash-2021-12-19_13.21.36-client.txt](https://github.com/TelepathicGrunt/Bumblezone/files/7741657/crash-2021-12-19_13.21.36-client.txt)
.

[2021-12-19 21:51] TelepathicGrunt commented on #92
Just tested and wow. Optifine or well, optishit is so bad that they now mess with fluid rendering to the point it blows up my mixins lmao. I am not supporting optifine as it is a closed source, horrible mess of incompat hell. I still have bad memories of optifine breaking worldgen mods and also making mobs from structures be invisible which ruined a lot of people's hardcore worlds.

Nothing I can

[2021-12-19 21:51] #92 closed, assigned to TelepathicGrunt

[2021-12-19 22:00] TelepathicGrunt commented on #92
Even when i tried switching to a more dangerous and fragile mixin, it turns out optifine breaks the coloring of my honey fluid so yeah, I am 100% not supporting optifine for how broken it is lmao
![image](https://user-images.githubusercontent.com/40846040/146692290-21ce5294-1185-4a7e-9534-c89fdb8d3ec1.png)

[2021-12-19 22:03] TelepathicGrunt commented on #91
added now

[2021-12-19 22:03] #91 closed, assigned to TelepathicGrunt

[2021-12-19 22:09] GamerGaven commented on #92
Totally understandable, other performance mods are available, just unfortunate optifine doesn't play nice with most mods.

[2021-12-19 22:12] TelepathicGrunt commented on #92
thank you for reporting this tho. I pinned this report so other people who also crash can see this post and know why. Hopefully it'll keep people from spending too much time debugging their crash. Now I need to figure out how to make my curseforge page mark optifine as incompat hmmm

[2021-12-19 22:54] zachsai opened #93 "Instant Crash with Bumblezone, unsure why 1.18.1 forge"
https://pastebin.com/CVkxD1eJ
Disabling optifine fixed the crash, so please look into the optifine incompatibility! :D

[2021-12-19 22:56] TelepathicGrunt commented on #93
Duplicate of this pinned issue report. Basically, I am not supporting Optifine lol. It’s a broken mod that needs to cease existing for the good of the entire modding community lol. There’s nothing I can do on my end to fix it

https://github.com/TelepathicGrunt/Bumblezone/issues/92

[2021-12-19 22:56] #93 closed, assigned to nobody

[2021-12-19 22:57] zachsai commented on #92
Why is it incompatible with your fluids but not the Create mod's fluids...?

[2021-12-19 22:57] nanonestor opened #94 "v4.0.0 (1.18.1 MC) Forge crashing when hive hit with ender pearl"
Forge version - 39.0.5
Bumblezone (Forge) version - v4.0.0 (1.18.1 MC)

-- Game crashes when ender pearls thrown at hive in-game.  Tested 3 time with same results.
-- Other mods are present, mod list can be found in crash report.

Crash Report
[(https://paste.gg/p/anonymous/d82259af97fc42ca865462dc4a5ececa)](https://paste.gg/p/anonymous/d82259af97fc42ca865462dc4a5ececa)

latest.log

[(https://past

[2021-12-19 22:58] zachsai commented on #93
Bummer, I guess bumblezone for 1.18.1 will be a no go anymore, rip

[2021-12-19 22:59] TelepathicGrunt commented on #92
Don’t ask me lol. It’s closed source and wrecks everything. My mixin that’s as crashing is for making my honey fluid flow downward slowly with a bottom layer property. As for the color change, that’s probably an even worse nightmare to figure out

[2021-12-19 23:00] TelepathicGrunt commented on #93
Or you could look into Optifine alternatives lol. Performance wise, I heard good things about magnesium for some people. For shaders, there are some shader mods in the works to replace Optifine once and for all

[2021-12-19 23:01] zachsai commented on #93
I dont use the shaders all that much, but for forge, its one of the only performance mods that exist, so I do not have much of a choice, optifine is just a must have for minecraft in my eyes

[2021-12-19 23:06] zachsai commented on #92
![image](https://user-images.githubusercontent.com/63996164/146694154-6561b75f-4da5-4f4f-a1f2-27ac6de47d03.png)
Create has flowing honey and chocolate and works with optifine.
I am not writing this to be annoying, simply saying that reaching out to create for their input on how they went about it might help.
I say this because I really want this mod to work with optifine :)

[2021-12-19 23:23] TelepathicGrunt commented on #92
Their fluids are opaque while mine are translucent. Plus, their fluids are tagged as minecraft:water which impact some rendering stuff while my honey fluid is not tagged as water as it really isn't water. Furthermore, Create actually has a rendering issue where they break the screen overlaying in bumblezone's fluids. Issue report here for that: https://github.com/TelepathicGrunt/Bumblezone/issues/

[2021-12-20 18:49] zachsai commented on #92
Yeah, tried them all together and it just doesnt compare to optfine.
Immersive engineering just ported and they have fluids that are translucent and flow like water. Maybe they can help
![image](https://user-images.githubusercontent.com/63996164/146817666-e2e5edb5-61ab-4577-85dc-49b8e503cfa5.png)

[2021-12-20 21:24] GamerGaven commented on #92
As much as I too would like compat, for the creators sake, the cons of having to upkeep with optifine heavily outweighs the pros. Optifine is known for cutting into systems that modders typically use which can cause rendering issues to crashes for said mods. The fact optifine is closed source makes it infinitely harder for these modders to pinpoint exactly what they could potentially do to fix the

[2021-12-20 22:29] TelepathicGrunt commented on #94
`appeng.worldgen.meteorite.MeteoriteStructure.checkLocation(MeteoriteStructure.java:68) ~[appliedenergistics2-10.0.0-alpha.6.jar%2351!:10.0.0-alpha.6] `

Try blacklisting Applied Endergistics 2's meteors from Bumblezone's dimension. I'll look into why their stuff is blowing up my chunk generator.

[2021-12-21 01:12] TelepathicGrunt commented on #94
Seems the crash is caused when a mod tries to call getBaseHeight on my chunk generator. v4.0.1 update is out and should fix that.

[2021-12-21 01:12] #94 closed, assigned to TelepathicGrunt

[2021-12-21 01:22] TelepathicGrunt commented on #92
4.0.1 is out and sadly I had to switch to my old fragile mixin. I cannot use modifyArgs mixins in Forge because there's a bug with Forge and mixin that prevents modifyArgs from working. So I was using modifyArg instead and trying to do stuff to get the values I need into it. Turns out, they way I did that was not safe and was causing issues with rendering the correct height of honey fluids.

So no

[2021-12-21 04:27] nanonestor commented on #94
Thank you!  Love the mod and bumblezone. :)

[2021-12-22 12:21] OHN000 opened #95 "Crash when enterin End Portal in The End with bumblezone mod."
Time: 21.12.2021 18.35
Description: Colliding entity with block

java.lang.RuntimeException: null
	at net.minecraftforge.common.util.LazyOptional.orElseThrow(LazyOptional.java:295) ~[forge-1.18.1-39.0.5-universal.jar%2365!:?] {re:classloading}
	at com.telepathicgrunt.the_bumblezone.entities.EntityTeleportationBackend.playerLeavingBz(EntityTeleportationBackend.java:379) ~[the_bumblezone_forge-4.0.1

[2021-12-22 13:18] TelepathicGrunt commented on #95
I put on the mods you have
![image](https://user-images.githubusercontent.com/40846040/147098379-67f372be-a44c-4b21-a755-c148267512b2.png)

But I cannot reproduce the crash at all. I tried making a new world, enter an end portal, and no crash. I even tried entering end portals in the end and bumblezone dimensions. Then tried dying first and exiting world and re-entering and trying all the end port

[2021-12-22 14:31] TelepathicGrunt commented on #95
@OHN000 just to be clear, are you on single player or trying to play on a server? And what launcher are you using in single player? And if on server, are you using something like mohist or something?

[2021-12-26 03:03] nanonestor opened #96 "v4.0.1 for 1.18.1 Forge crashes with specific mod"
Bumblezone version - v4.0.1 for 1.18.1
Forge version - 39.0.7

Game crashes when trying to enter bumblezone by throwing ender pearl at hive - when the mod [Thuts Elevators](https://www.curseforge.com/minecraft/mc-mods/thuts-elevators) is also loaded.  It took a bunch of reloading to figure out which in my pack was causing the conflict or something.  As it's showing bumblzone in the report that's w

[2021-12-26 21:38] TelepathicGrunt commented on #96
Can you test with v4.1.0 bumblezone and see if the issue still persist?

[2021-12-26 21:39] TelepathicGrunt commented on #77
fixed on Create's side and bumblezone's as well in v4.1.0 bumblezone

[2021-12-26 21:39] #77 closed, assigned to TelepathicGrunt

[2022-01-13 00:16] TelepathicGrunt commented on #96
No response in over 17 days so I am guessing the issue resolved itself. Lmk if it is still happening with latest update of Bumblezone and I will reopen report

[2022-01-13 00:16] #96 closed, assigned to TelepathicGrunt

[2022-01-13 00:17] TelepathicGrunt commented on #95
I think I resolved this issue. Let me know if the issue still exist on latest bumblezone update and I will reopen bug report

[2022-01-13 00:17] #95 closed, assigned to TelepathicGrunt

[2022-01-14 10:47] TelepathicGrunt opened #97 "Terralith/terrablender incompat??"
![BCFC85B5-F22C-4657-BE93-F6276BC0C080](https://user-images.githubusercontent.com/40846040/149503301-549046fa-62c2-4315-aa9c-aba383c09cf0.jpeg)

 need to investigate claim

[2022-01-14 16:00] TelepathicGrunt opened #98 "Add throwable stinger Spear that can paralyze mobs"
Paralysis can be maybe a noAI highjack? What about flying mobs? Maybe navigation or something can be turned off instead. Will be tricky.

Spear can be found in large bee dungeon (unnamed right now). Can be thrown but cannot get the enchantment for returning automatically. (Balances the paralysis)

Paralysis only lasts 4 seconds with a 10 second cooldown before it can be paralyzed again

[2022-01-14 16:23] TelepathicGrunt opened #99 "Make pile of pollen block mob line of sight"

[2022-01-15 12:34] TelepathicGrunt commented on #97
Terrablender fixed it now

[2022-01-15 12:34] #97 closed, assigned to TelepathicGrunt

[2022-01-15 14:14] TelepathicGrunt opened #100 "Make protection of the hive allow unlimited honey gathering/block breaking"
Help make the effect better

Killing Honey Brood blocks or hurting bees will remove protection of the hive hive tho.

[2022-01-25 04:18] TelepathicGrunt opened #101 "Rework honey crystal shield to store repair amount in itemstack nbt"
Better mod compat with mods that does a funky with repair cost. This lets the shield durability increase the way I want it to per repair. The cost part is the hard part to bring back when other mods mess with it

[2022-01-25 23:24] #63 closed

[2022-01-25 23:58] TelepathicGrunt opened #102 "."
![image](https://user-images.githubusercontent.com/40846040/151079751-4733a5b5-f2a6-4284-b658-4c152b0e2602.png)

[2022-01-26 03:22] TelepathicGrunt opened #103 "Fix ghost falling blocks at cave entrances"

[2022-01-29 22:53] TelepathicGrunt opened #104 "fix sugar water bottle curing poison"
i shouldnt had used honey bottle item as the base item....

[2022-02-13 03:58] TelepathicGrunt commented on #103
fixed now

[2022-02-13 03:58] #103 closed, assigned to TelepathicGrunt

[2022-02-13 03:59] TelepathicGrunt commented on #102
added now

[2022-02-13 03:59] #102 closed, assigned to nobody

[2022-02-13 03:59] TelepathicGrunt commented on #101
done now

[2022-02-13 03:59] #101 closed, assigned to TelepathicGrunt

[2022-02-13 03:59] TelepathicGrunt commented on #100
added now

[2022-02-13 03:59] #100 closed, assigned to TelepathicGrunt

[2022-02-13 03:59] TelepathicGrunt commented on #99
kinda added now

[2022-02-13 03:59] #99 closed, assigned to TelepathicGrunt

[2022-02-13 03:59] TelepathicGrunt commented on #98
added now

[2022-02-13 03:59] #98 closed, assigned to TelepathicGrunt

[2022-02-13 12:06] TelepathicGrunt commented on #104
fixed now in v4.3.1

[2022-02-13 12:06] #104 closed, assigned to TelepathicGrunt

[2022-02-14 15:48] TelepathicGrunt opened #105 "Prevent nesting shulker/honey cocoons"
Find how to stop shulker boxes and honey cocoons in honey cocoons

[2022-02-15 03:24] TelepathicGrunt commented on #105
fixed now

[2022-02-15 03:24] #105 closed, assigned to TelepathicGrunt

[2022-02-20 15:38] TelepathicGrunt opened #106 "Add support for JEED with bumblezone effects"
https://www.curseforge.com/minecraft/mc-mods/just-enough-effect-descriptions-jeed

Effects that needs descriptions:

Wrath of the Hive
 -recipe to show that Porous Honeycomb Block, Honey Block, and Brood Honeycomb Block can give the effect

 Protection of the Hive
  -recipe to show that Brood Honeycomb Block can give the effect

  Beenergized
   (Should automatically show Bee Bread can give effect

[2022-02-20 15:48] TelepathicGrunt opened #107 "Honey Compass"
Compass + Honey Bucket + pollen puff = Honey compass with empty bucket remainder

Will locate structures in bumblezone and relocate a new one if you get close to the one it was tracking. It'll get the structure's position and switch to a new structure when you get 10 blocks away from the tracked position.

Structures it locates will be in this order and then loop around.

Cell Maze
Honey Cave Room

[2022-02-28 20:21] minatoast opened #108 "Teleportation bug"
When I tried to leave the Bumblezone by falling into the void, it teleported me back to my spawn in the Bumblezone. Super weird. i tried again a second time and it worked. I wonder what caused it.

[2022-03-02 02:17] TelepathicGrunt commented on #108
I just tested with a new world with `the_bumblezone_forge-4.3.6+1.18.1.jar` bumblezone. I entered the dimension and then exited it just fine. Did you enter the dimension with an older version of bumblezone or entered by piston pushing in single player?

[2022-03-08 01:18] TelepathicGrunt opened #109 "[1.18.1] Adding bumblezone to an existing Terrablender world will not generate bumblezone dimension"
https://github.com/Glitchfiend/TerraBlender/issues/38

Terrablender has to fix this on their end. That mod will prevent my mod's dimension from generating if my mod is added after the world is made. Meaning, You have to start the world in single player with the dimension and then move the world to the server. or maybe temporarily remove terrablender, start world, exit world, and then readd terrabl

[2022-03-12 00:45] TelepathicGrunt commented on #108
Gonna close this as I cannot reproduce the issue and havent gotten anymore info over 10 days

[2022-03-12 00:45] #108 closed, assigned to TelepathicGrunt

[2022-03-17 21:31] TelepathicGrunt commented on #106
added in latest bumblezone now

[2022-03-17 21:31] #106 closed, assigned to TelepathicGrunt

[2022-03-24 12:31] Inonedn opened #110 "When using Honey Buckets on Porous blocks, it consumes the item, leaving no bucket behind"

[2022-03-24 12:32] TelepathicGrunt commented on #110
What Mc and Bumblezone version are you using?

[2022-03-24 12:37] Inonedn commented on #110
Latest version of Bumblezone and Forge

[2022-03-24 21:22] #109 closed, assigned to TelepathicGrunt

[2022-03-24 21:22] TelepathicGrunt commented on #109
terrablender fixed their issue in 1.18.2

[2022-03-24 21:24] TelepathicGrunt commented on #110
fixed now in v5.0.7

[2022-03-24 21:24] #110 closed, assigned to TelepathicGrunt

[2022-04-03 12:28] sstarr82 opened #111 "Mod Compatability - Silent's Gems 3"
Please add a token recipe for comb cutter so it can be crafted with the token enchanter.
The token already exists, so it just needs a crafting recipe.

[2022-04-03 12:30] TelepathicGrunt commented on #111
what's a token recipe? or even token enchanter?

[2022-04-03 12:34] sstarr82 commented on #111
It is a way to add/create enchantments without guesswork, here's a link to the mod on curseforge
https://www.curseforge.com/minecraft/mc-mods/silents-gems

[2022-04-03 14:11] TelepathicGrunt commented on #111
Token Enchanter is not out for 1.18.2 yet as the 1.18.1 version will not run on 1.18.2. When it is out for 1.18.2, then I'll release my Bumblezone update for that mc version to have the recipe files for tokens. You can try this datapack for 1.18.1 Bumblezone since I will not be updating older versions of my mod anymore. let me know if these tokens feel balanced or not if you're playing on 1.18.1 s

[2022-04-04 06:36] sstarr82 commented on #111
Perfect thank you!

[2022-04-04 06:36] #111 closed, assigned to TelepathicGrunt

[2022-04-08 14:48] Parloienx commented on #54
How did you get "this". Where would I find mine. Aka what is it?

[2022-04-08 14:49] TelepathicGrunt commented on #54
@Parloienx i believe that’s the latest.log file from the logs folder above the mods folder

[2022-04-08 14:54] charmesal commented on #54
@TelepathicGrunt is correct. You can find it in the latest.log file( and in the console if you use one of those).

[2022-04-08 14:55] Parloienx commented on #54
hmmm, sadly I don't have that portion in my latest log for some reason

[2022-04-08 14:58] charmesal commented on #54
I'm not sure how it works these days. The mods could have changed how they load and/or log the relevant data.
If you want you can add me on Discord and I'll see what I can do for you but I can't promise a solution.

[2022-04-08 14:59] Parloienx commented on #54
It's ok. I am just doing the same thing as you. I am just trying to add it to the Vault Hunters Modpack and shaders kind of destroys the dimension they created making everything dark.

[2022-04-08 15:00] Parloienx commented on #54
It's 1.16.5 but I don't know if that was out then so you might be right that it changed.

[2022-04-08 15:04] charmesal commented on #54
I honestly don't remember what version I was on back then. Could be 1.16.5.
Can you load up your game and start/load a single player world and the attach your latest.log file in a comment?

[2022-04-08 15:05] Parloienx commented on #54
sure

[2022-04-08 15:17] Parloienx commented on #54
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/8453290/latest.log)

[2022-04-08 15:39] charmesal commented on #54
I'm unable to find any useful information for you. However I do remember now that I used the mod [Immersive Portal](https://www.curseforge.com/minecraft/mc-mods/immersive-portals-for-forge). I _think_ that gives the dimensions their numbers again but I'm not 100% sure.
But you  can try and add it to see if it gives you the output in the log.
Be aware that the assigned number changes if you add or

[2022-04-08 15:41] TelepathicGrunt commented on #54
Check if TellMe mod allows you to dump the dimension registry with the int ids. If so, that may be the solution. https://www.curseforge.com/minecraft/mc-mods/tellme

[2022-04-08 15:42] charmesal commented on #54
That seems very promising. Let us know how it turns out.

[2022-04-08 15:42] Parloienx commented on #54
I already tried that

[2022-04-08 15:43] Parloienx commented on #54
Thanks for all the help :)

[2022-04-08 16:08] Parloienx commented on #54
You might have done it with the immersive portals mod. Loading in...

[2022-04-08 16:51] Parloienx commented on #54
That seemed to work. Thank you

[2022-04-08 16:55] charmesal commented on #54
Glad to hear it works. Just keep in mind that servers won't have the Immersive Portals mod and therefore can have different dimension IDs.

[2022-05-07 14:53] Inonedn opened #112 "World locks up when removing the mod, with "Error loading datapacks""

[2022-05-07 16:52] TelepathicGrunt commented on #112
I would need the full latest.log file in order to help. Without it, I do not know what the issue can even be.

Edit: thought we were on my repurposed structures repo. My bad. Since this is Bumblezone, I 100% need to see the log file

[2022-05-10 14:06] TelepathicGrunt opened #113 "Carpenter bee boots"
Ideas:

makes crouch mining wood tagged blocks faster.

Or crouching on a wood tagged block will auto mine the block you’re standing on. (So fly onto top of trees and crouch to mine the tree easily without needing to look down)

[2022-05-13 14:00] MrCoolz123456 opened #114 "No honey or sugar water"
Hello i found out that when i use a glass bottle on sugar water, honey slimes or porous honeycomb blocks nothing is given to me.

[2022-05-13 14:54] TelepathicGrunt commented on #114
What minecraft version and Bumblezone version are you using? And is this in a modpack (if so, which modpack?)

[2022-05-14 06:34] MrCoolz123456 commented on #114
I am using Minecraft 1.18.2 and i have the latest version of the mod. I am playing with Productive Bees, Beekeeper, JEI and Queen Bee

[2022-05-14 14:32] TelepathicGrunt commented on #114
thank you for reporting this! Should be fixed in v5.0.11 now. Surprised no one else reported the issue earlier

[2022-05-14 14:32] #114 closed, assigned to TelepathicGrunt

[2022-05-14 14:33] TelepathicGrunt commented on #112
it's been a week with no additional info. I'm going to close this issue report since without extra info, there's nothing I can do

[2022-05-14 14:33] #112 closed, assigned to TelepathicGrunt

[2022-05-21 14:47] ZeMilkmann commented on #109
Do you have suggestions for a different workaround for those of us who can not upgrade to 1.18.2 yet?

The suggested workaround of not loading Terrablender (and mods which depend on it) leads to a datapack error when trying to load the world.

[2022-05-21 15:13] TelepathicGrunt commented on #109
@ZeMilkmann the only workaround I heard is to start a fresh singleplayer world with all the mods. Then open its level.dat file and copy the Bumblezone dimension entry from WorldGenSettings part to the server’s level.dat file. There’s nothing I can do on my end since this is a terrablender issue

[2022-05-21 23:08] ZeMilkmann commented on #109
Thanks man, that worked well and was really easy.

For anyone trying in the future: You need an NBT editor (I used Cyotek NBT Editor), open both the new and the old level.dat file and copy the mentioned part over.

[2022-05-26 19:24] TelepathicGrunt opened #116 "Make honey bucket be equal to 4 honey bottles instead of 3"
Prevent dup issues with other mods

[2022-05-29 22:14] TelepathicGrunt commented on #116
done in latest release now

[2022-05-29 22:14] #116 closed, assigned to TelepathicGrunt

[2022-05-29 22:15] TelepathicGrunt commented on #113
added in v5.1.0

[2022-05-29 22:15] #113 closed, assigned to TelepathicGrunt

[2022-05-29 22:15] TelepathicGrunt commented on #107
added in v5.1.0

[2022-05-29 22:15] #107 closed, assigned to TelepathicGrunt

[2022-05-29 23:58] TelepathicGrunt opened #117 "Make bee spawning mechanic ignore fake players"
Just as a precaution

[2022-05-30 17:31] TelepathicGrunt opened #118 "See about making bees fired from bee cannon not block vision"
Lowered bees or move bees farther from camera?

[2022-06-27 08:21] Geartwo opened #120 "[1.19][Server] REI Startup error"
The Bumblezone v6.0.0

When starting the server, REI throws an error and crashes.

Possible solution:
Change "rei_common" to "rei_client"

![image](https://user-images.githubusercontent.com/4224642/175893415-d69a9fea-1b53-41c4-98a0-692b8a1a4611.png)

[2022-06-27 12:34] TelepathicGrunt commented on #120
can you try this please?
[the_bumblezone_fabric-6.0.1-test+1.19.jar.zip](https://github.com/TelepathicGrunt/Bumblezone/files/8991934/the_bumblezone_fabric-6.0.1-test%2B1.19.jar.zip)

[2022-06-27 19:58] Geartwo commented on #120
Testet with REI + WTHIT + The Bumblezone (And Dependencys) and...

IT WORKS!

Thank you

[2022-06-28 00:30] TelepathicGrunt commented on #120
Just released 6.0.1. hopefully I didnt break anything

[2022-06-28 00:30] #120 closed, assigned to TelepathicGrunt

[2022-07-08 17:54] TelepathicGrunt opened #121 "Check if beeheemoth not facing moving direction is solvable or not"

[2022-07-13 18:01] Onehanddan opened #122 "Not compatible with forge after .64 update for 1.19"
Please see title as is affecting many mods since forge .64

[2022-07-13 18:05] TelepathicGrunt commented on #122
Ik it isn’t compatible lol. I’m still working on a large update already and the fix to work with newer forge will be included. I just need more time as the update is quite extensive

[2022-07-16 02:32] Silivek opened #123 "[1.19] Coral Tombstone crashing when tempting Honey Slime"
I was running a server when the crash happened. I can no longer join the server without it closing immediately. I have no clue what could be causing it besides the fact that the ticking entity is a honey slime.
Forge Version: 41.0.63
Bumblezone Version: 6.0.1+1.19
Crash Report: https://pastebin.com/WhaEBHrp

[2022-07-16 03:12] TelepathicGrunt commented on #123
Looks like the issue isn't bumblezone. It's caused by this:
`ovh.corail.tombstone.helper.Helper.getBrightness`

Corail tombstone is broken and is calling clientsided code on serverside with their EventHandler_onCheckDiscretion_LivingVisibilityEvent that they fire when tempting Honey Slimes with their food item. Please report the issue to them so they can address it properly. Nothing I can do on my

[2022-07-16 03:13] TelepathicGrunt commented on #123
Gonna leave this up so others can see if they get the same crash until corail tombstone fixes the issue

[2022-07-16 03:14] TelepathicGrunt commented on #123
Looks like they know about the issue but holding off on updating their mod to fix it
https://github.com/Corail31/tombstone_lite/issues/63

[2022-07-16 23:08] Silivek commented on #123
Well that's a doozy. Thanks for the help anyways! Love the mod!

[2022-07-19 00:23] Baggytrousers27 commented on #122
Same thing with 41.0.94+

[2022-07-19 00:27] TelepathicGrunt commented on #122
@Baggytrousers27 correct because I haven't release my update yet for the forge breaking changes. Bumblezone will not work on any forge version newer than .64. The v6.1.0 update for bumblezone will work with newest forge at the time of release.

[2022-07-19 00:32] Baggytrousers27 commented on #122
Was just commenting that 41.0.94+ add even more breaking changes.

[2022-07-19 19:06] MatheusZanfolin opened #124 "1.19 Fabric (Sodium) crash"
A few minutes after entering the new dimension, the game crashed.
Upon reentering, the game, this time, crashed almost instantly after loading the world
More details on the crash report: https://pastebin.com/z1DcS53D

Both running Sodium: the first one with the Complementary Reimagined shaders and the second crash (the one detailed on the report) without any shaders

[2022-07-20 00:10] TelepathicGrunt commented on #124
This is the stacktrace remapped:

   at net.minecraft.util.thread.LockHelper.crash(LockHelper.java:84)
    at net.minecraft.util.math.random.CheckedRandom.next(CheckedRandom.java:49)
    at net.minecraft.util.math.random.BaseRandom.nextInt(BaseRandom.java:33)
    at net.minecraft.world.SpawnHelper.spawnEntitiesInChunk(SpawnHelper.java:246)
    at net.minecraft.world.SpawnHelper.spawnEntitiesInChun

[2022-07-22 02:08] TelepathicGrunt commented on #124
Please try again with v6.1.0 bumblezone. Maybe I inadvertently fixed the crash as I cleaned up my random usages

[2022-07-22 02:09] TelepathicGrunt commented on #123
Looks like this is marked as fixed in tombstone-8.0.4-1.19.jar

[2022-07-22 02:09] #123 closed, assigned to TelepathicGrunt

[2022-07-22 02:10] TelepathicGrunt commented on #122
v6.1.0. bumblezone is out now and will work on latest forge. Well, anything above forge 41.0.94 or so.

[2022-07-22 02:10] #122 closed, assigned to TelepathicGrunt

[2022-07-22 02:10] TelepathicGrunt commented on #121
fixed in v6.1.0

[2022-07-22 02:10] #121 closed, assigned to TelepathicGrunt

[2022-07-22 02:10] TelepathicGrunt commented on #118
fixed in v6.1.0

[2022-07-22 02:10] #118 closed, assigned to TelepathicGrunt

[2022-07-22 15:20] MatheusZanfolin commented on #124
Just did that, and it seemed pretty stable! Spent a few minutes digging my way out of the beehive and didn't face any crashes, thankfully, so I believe the problem may be solved 🙂

[2022-07-22 16:07] #124 closed, assigned to TelepathicGrunt

[2022-07-26 00:59] TelepathicGrunt commented on #117
finished and released in v6.1.2

[2022-07-26 00:59] #117 closed, assigned to TelepathicGrunt

[2022-08-08 20:10] TelepathicGrunt opened #126 "Add config option to send Bumblezone originates move to world origin in overworld"
Default to true

[2022-08-10 01:36] TelepathicGrunt commented on #126
added in 6.1.7 now

[2022-08-10 01:36] #126 closed, assigned to TelepathicGrunt

[2022-08-12 15:52] TelepathicGrunt opened #128 "add config to turn off dimension fog"

[2022-08-17 14:07] TelepathicGrunt opened #129 "Look into reducing fog thickness if possible"
Maybe do a check if Bumblezone and if so, halve the fog thickness? Will need to look at how fog works

[2022-08-17 14:08] TelepathicGrunt opened #130 "Buff Royal jelly bottle when consumed"
Balance it so consuming is a viable option along with its other uses

[2022-08-21 20:30] TelepathicGrunt commented on #130
Done

[2022-08-21 20:30] #130 closed, assigned to TelepathicGrunt

[2022-08-21 20:30] TelepathicGrunt commented on #129
Done

[2022-08-21 20:30] #129 closed, assigned to TelepathicGrunt

[2022-08-21 20:30] TelepathicGrunt commented on #128
Done

[2022-08-21 20:30] #128 closed, assigned to TelepathicGrunt

[2022-08-21 20:31] TelepathicGrunt opened #131 "Add tag to blacklist effects from incense candles"
Help with modpack balancing

[2022-08-25 18:51] floral-qua-floral opened #132 "V6.1.6 of Bumblezone Fabric is marked for 1.19, but requires Minecraft 1.19.2"
[This is the file in question.](https://modrinth.com/mod/the-bumblezone-fabric/version/6.1.6%2B1.19.2) It's only marked for 1.19, but the fabric.mod.json requires Minecraft 1.19.2, so it won't launch on 1.19.

[2022-08-25 19:01] TelepathicGrunt commented on #132
V6.1.6 fabric Bumblezone cannot run in 1.19 because of music disc constructor changed. I’ll fix the version mark in cf as it should be just 1.19.2 only. Not 1.19 at all

[2022-08-25 19:04] #132 closed, assigned to nobody

[2022-08-26 21:05] TelepathicGrunt opened #133 "Allow smite on stinger spear maybe"

[2022-08-27 19:33] TelepathicGrunt commented on #131
released now

[2022-08-27 19:33] #131 closed, assigned to TelepathicGrunt

[2022-08-27 19:33] TelepathicGrunt commented on #133
released now

[2022-08-27 19:33] #133 closed, assigned to TelepathicGrunt

[2022-09-06 19:07] Salliemaej opened #134 "Game crash problem identified as Bumblezone-Quilt"
My game, after an update to Minecraft, crashed when I tried to start a new world. I am using the Medieval Minecraft mod pack and Bumble-Quilt is part of it. The error code that popped up after the crash was: The game crashed whilst mouseclicked event handler
Error: java.lang.IllegalStateException: Trying to access unbound value 'ResourceKey[minecraft:worldgen/noise_settings / the_bumblezone:bz_noi

[2022-09-06 19:11] TelepathicGrunt commented on #134
I moved this to the right repository now. Did you close this because you identified the issue and can enter the game now?

[2022-09-06 19:16] TelepathicGrunt commented on #134
Anyway, if not, then I need the full latest.log file and the exact version of the medieval minecraft modpack you are using along with any modifications you did to the modpack. This is so I can even begin to troubleshoot this issue as I was able to created and re-enter worlds multiple times myself when testing Bumblezone.

The error you posted is saying it is unable to find the the_bumblezone:bz_no

[2022-09-06 19:33] Salliemaej commented on #134
I closed it because I saw I posted in the wrong place

[2022-09-06 19:34] Salliemaej commented on #134
I will try and find the information you need. Thank you!

[2022-09-08 11:15] TelepathicGrunt opened #135 "Fix Royal jelly bucket recipe"
https://github.com/TelepathicGrunt/Bumblezone/blob/10a40196bd34d80eda938327e966dd091c0827d9/src/main/resources/data/the_bumblezone/recipes/royal_jelly_bucket.json#L23

[2022-09-10 01:10] TelepathicGrunt commented on #135
fixed now in latest version of bumblezone

[8236286](https://github.com/TelepathicGrunt/Bumblezone/commit/8236286e5727b5cc6f296ed450b85b05f497c13a)
[fd4425a](https://github.com/TelepathicGrunt/Bumblezone/commit/fd4425aa387b273294e304dedcf3e8d460bae15f)
[965fd32](https://github.com/TelepathicGrunt/Bumblezone/commit/965fd32877e02176775e77d9c7495f113931b6fd)

[2022-09-10 01:10] #135 closed, assigned to TelepathicGrunt

[2022-09-10 08:56] chorbintime opened #136 "[Fabric 1.19.2] BcLib tries to load Bumblezone's noise setting before it is parsed and causes crash on world load"
Hello. I am a developer from Luna Pixel Studios and have recently noticed several crashes and datapack errors related to Bumblezone across several modpacks.

The first case was on 8/09/2022 on Better MC Fabric 1.19.2. When joining their world, the user saw "Errors in currently selected datapacks prevented the world from loading". They proceeded to get the following crash:

The game crashed whilst

[2022-09-10 10:59] TelepathicGrunt commented on #136
This is more likely a mod compat issue as that error of unable to find the bz noise setting in the registry does make any logical sense because the actual noise setting file exists and is parsed and read by minecraft just fine with Bumblezone alone in 1.18.2 and 1.19.2. No one else reported this issue beside those using better minecraft modpacks and only on Fabric. Neither Quilt nor Forge seems to

[2022-09-10 11:44] TelepathicGrunt commented on #136
The latest.log file one shows bclib as trying to create Bumblezone chunk generator possibly too early before the worldgen json files are parsed. I know their lib had many issues before with chunk generators/biome sources before so I would not be surprised if their lib is still having issues but they need a reproduction case. Please provide a copy of the affected world and exact Better Minecraft ve

[2022-09-10 16:23] TelepathicGrunt opened #137 "Spawn mobs 1 block higher"
It seems honey slimes spawns inside the blocks when chunks are first made which causes the honey slime to take 1 damage of suffocation’s before being pushed out properly. Raise position up by one to fix

[2022-09-14 02:11] TelepathicGrunt commented on #137
now released

[2022-09-14 02:11] #137 closed, assigned to TelepathicGrunt

[2022-09-15 15:08] Zelioth opened #138 "Crashes after recent Update 6.2.5"
Minecraft Version - 1.19.2
Forge Version - 43.1.25
Mod Version - 1.0.0 -1.19.2

Custom Mod Pack and Server : https://www.curseforge.com/minecraft/modpacks/friends-united

I've used the mod in my pack for some time now. Love it. Had some issues but we have gotten past them. Recently after updating the mods and pack yesterday we are now experiencing crashes that are referencing to two mods and one i

[2022-09-16 11:11] TelepathicGrunt commented on #138
Just documenting our findings here as well. The crash was caused by It Takes A Pillage mod missing a null check in a forge event for status effect removals and was causing that mod to crash even with vanilla’s items. Bumblezone has some status effect removals that triggered this bug in It Takes A Pilalge.

That mod has now updated to fix that crash so this issue report will be closed.

[2022-09-16 11:11] #138 closed, assigned to TelepathicGrunt

[2022-09-16 20:12] TelepathicGrunt opened #139 "Add compat with mooblooms from unvoted and shelved when they add Moobloom"
Add compat with mooblooms from unvoted and shelved
https://github.com/CursedCauldron/Unvoted-Shelved/tree/main-fabric-1.19/src/main/resources/assets/unvotedandshelved/textures/entity/moobloom

[2022-09-16 23:09] Crykenpie opened #140 "Game wouldnt let me load into a world that worked previously"
Apparently the modpack it was in had an issue with thebumblezone, shown in the latest.log so I had to remove it for the modpack to work, and i was told to report it to the mod author. so here is the latest.log, the mc version is 1.19, and its fabric.

here's a link to the log: https://mclo.gs/gR9ltnI

[2022-09-16 23:16] TelepathicGrunt commented on #140
this is a duplicate of this issue report: https://github.com/TelepathicGrunt/Bumblezone/issues/136

Simply put, the issue is not Bumblezone. Bumblezone is setup correctly and properly in regards to the noise setting json file which mc is the one to parse. The issue is BcLib has a bug where they are messing up when the game parses dimensions and is doing it before the game parses the noise settings

[2022-09-16 23:16] #140 closed, assigned to TelepathicGrunt

[2022-09-18 15:17] TelepathicGrunt commented on #139
looks like they have not yet released the moobloom

[2022-09-19 17:24] TelepathicGrunt opened #141 "Check if honey cocoon can be blocked from traveler’s backpack"
Help reduce storage exploit maybe? Need to see if they allow shulker boxes first

[2022-09-19 17:25] TelepathicGrunt commented on #141
Nvm. Their backpacks can hold shulker boxes with items. Not an exploit ornissue

[2022-09-19 17:25] #141 closed, assigned to TelepathicGrunt

[2022-09-26 00:02] Chief0609 opened #142 "Exiting the Bumblezone"
as the title sugests, I dont know how to exit the bumblezone, and i cant seem to figure out how to either

[2022-09-26 00:10] TelepathicGrunt commented on #142
You exit Bumblezone by digging down and falling below y = 0 or digging up and climbing above y = 256. This is to make it seem like you’re digging out of the beehive. You will not die when falling out of the dimension as my mod will lock you to y = -3 as it teleports you out

If you have any other questions or confusion, check out my mod page here as it contains a ton of info on my mod.
https://www

[2022-09-26 00:10] #142 closed, assigned to nobody

[2022-09-28 08:29] Sunconure11 opened #143 "Mixin crash involving the Beehemoth"
https://gist.github.com/Sunconure11/2875a11cba4b329190daf83826c54442

[2022-09-28 11:27] TelepathicGrunt commented on #143
This crash does not seem to be on Bumblezone end. It appears Allium Peripherals has a mixin that is trying to inject into my entity and I have no idea why they are doing so.

`Caused by: org.spongepowered.asm.mixin.injection.throwables.InjectionError: Critical injection failure: Callback method onChatMessage(Lnet/minecraft/class_2797;Lorg/spongepowered/asm/mixin/injection/callback/CallbackInfo;)V

[2022-09-28 11:29] Sunconure11 commented on #143
https://github.com/hugeblank/allium-peripherals/issues/16#issuecomment-1260704372

[2022-09-28 11:32] TelepathicGrunt commented on #143
Oh well that explains it lol. I'll close this then since they have not released a jar for 1.19.2

[2022-09-28 11:32] #143 closed, assigned to TelepathicGrunt

[2022-10-06 00:50] TelepathicGrunt commented on #136
For anyone reading this and has a world affected with this issue, here is a special Bumblezone jar to use (Unzip first to get the jar). This jar will make the game bypass BcLib's world patcher code. Just be sure to make a backup of your world first but this should be ok for existing worlds and should allow people to play again on worlds affected with this BcLib bug.
[the_bumblezone_fabric-6.1.13-b

[2022-10-12 07:59] SuperiorDonut opened #144 "Glistering Honey Crystals Dropping Honey Crystal Blocks With Silk Touch"
I'm thus unable to acquire glistering honey crystals as a result; I'm on Quilt v6.2.11

I'm using a Paxel from the "piercing paxels" mod, but the issue is there regardless of what tool I use (including nonsense like shears and swords, lol).

You could possibly make the block craftable with 4 honey crystals as well, but that's more of an idea than a bug fix, haha.

https://user-images.githubusercon

[2022-10-12 08:15] SuperiorDonut opened #145 "Blocked Giant Candles Consume Flint and Steel Charges Despite Being Unlightable, and Have Bugged Wicks Below Top Slabs"
When using flint and steel on a giant candle that has another block on top (including other giant candles), it consumes the durability of your flint and steel despite doing nothing to the candle itself.

https://user-images.githubusercontent.com/114554928/195287460-aac7671d-c312-4217-a083-68dedfa8d025.mp4

Additionally, when a giant candle is below a top slab, the wick is absent despite its model

[2022-10-12 09:31] TelepathicGrunt commented on #144
Looks like I accidentally forgot to change this line to glistering honey block
https://github.com/TelepathicGrunt/Bumblezone/blob/1f0de63dca6de0b05ccfa7362225ebb929401088/src/main/resources/data/the_bumblezone/loot_tables/blocks/glistering_honey_crystal.json#L12

Will fix next update. When I add a new block. It’ll take me a bit of time before I get the new update out but you can fix this loot tabl

[2022-10-12 09:38] TelepathicGrunt commented on #145
A block position cannot have two blocks simultaneously. So if you’re asking for both a wick and slab to occupy the same block position, then no that will not be possible and definitely not a rabbit hole of hell I want to get into lol.

The wick will only spawn if the block position above the candle base is an air block.

For the damaging, looks like I need to modify this if statement check to make

[2022-10-22 02:47] TelepathicGrunt commented on #136
This was fixed in BcLib v2.1.1. Closing issue report now

[2022-10-22 02:47] #136 closed, assigned to TelepathicGrunt

[2022-10-22 03:21] TelepathicGrunt commented on #145
fixed now in v6.3.0 that is released. Thank you for the report!

[2022-10-22 03:21] #145 closed, assigned to TelepathicGrunt

[2022-10-22 03:21] TelepathicGrunt commented on #144
fixed now in v6.3.0 that is released. Thank you for the report!

[2022-10-22 03:21] #144 closed, assigned to TelepathicGrunt

[2022-10-24 15:05] UrBoiTom opened #146 "Crash on startup"
https://pastebin.com/EBPuhQ9x

Game starts loading then crashes after about a minute

[2022-10-24 15:09] TelepathicGrunt commented on #146
@Sorro123 I do not see anything in that log that points to my mod as the issue. You got a mod or datapack that is trying to change the model for vanilla’s firework item but is failing for some reason.

Do you know of any mod or datapack that’s messing with the vanilla firework in your modpack? If so, try removing said mod or datapack and see if that helps.

If not, share the latest.log file instea

[2022-10-24 15:23] UrBoiTom commented on #146
I might have found the problem will update in a minute
also srry if it isn't your mod causing the problem, the first mod name in the crash was bumblezone so I just guessed

[2022-10-24 15:36] UrBoiTom commented on #146
nope. Thought it might be pyrotastic, but I removed that and now salmon is giving me the error instead

[crash report](https://pastebin.com/gJjYTc7H)

[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/9852962/latest.log) not on pastebin bc too big

[2022-10-24 16:05] UrBoiTom commented on #146
Found the problem, nicephore.

[2022-10-24 16:05] #146 closed, assigned to TelepathicGrunt

[2022-10-25 03:15] TelepathicGrunt opened #147 "bee queen still makes bees when noAi is false"
oops.

Also check why it is angryyyy when noAi

[2022-10-26 01:57] TelepathicGrunt commented on #147
fixed in v6.3.4

[2022-10-26 01:57] #147 closed, assigned to TelepathicGrunt

[2022-10-27 02:41] TelepathicGrunt opened #148 "pollen puff for moobloom of buzzier bees"
https://github.com/team-abnormals/buzzier-bees

[2022-10-27 03:34] TelepathicGrunt opened #149 "set the default config value for keeping essence through death to true"
Currently essence is lost on death by default. Seems to be confusing people and too punishing. Will set config to persist through death. Might slightly rename config so everyone with old config file will get it persisting when updating

[2022-10-27 11:00] TelepathicGrunt opened #150 "Look into new processor to spawn other mod’s small flowers in hanging gardens automatically"
Currently, people can replace this file by datapack to spawn modded flowers but maybe we can make it more automatic

https://github.com/TelepathicGrunt/Bumblezone/blob/latest-released-Forge/src/main/resources/data/the_bumblezone/worldgen/processor_list/hanging_garden_generic.json

[2022-10-27 22:57] TelepathicGrunt commented on #148
[a468c10](https://github.com/TelepathicGrunt/Bumblezone/commit/a468c10b27bf6bfbd07d1b31f467cbf80afd1035)

[2022-10-29 02:58] TelepathicGrunt commented on #150
added in v6.3.5

[2022-10-29 02:58] #150 closed, assigned to TelepathicGrunt

[2022-10-29 02:58] TelepathicGrunt commented on #149
added in v6.3.5

[2022-10-29 02:58] #149 closed, assigned to TelepathicGrunt

[2022-10-29 02:58] TelepathicGrunt commented on #148
added in v6.3.5

[2022-10-29 02:58] #148 closed, assigned to TelepathicGrunt

[2022-10-29 11:49] TelepathicGrunt opened #151 "internal anti-tryphobia resourcepack?"
optional pack for users

[2022-10-29 11:52] TelepathicGrunt opened #152 "Llamarama bumble llama enderpearl teleport to bumblezone"
hmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm

[2022-10-30 17:54] TelepathicGrunt opened #153 "CTM for Bumblezone honeycomb blocks"
How does CTM work? Optifine?

[2022-10-31 01:19] TelepathicGrunt opened #154 "check if cell maze and other structures are actually spawning"

[2022-10-31 10:06] TelepathicGrunt opened #155 "creative bottle taking honey from filled porous honeycomb should not add honey bottle"

[2022-11-01 23:06] TelepathicGrunt commented on #154
[20724e6](https://github.com/TelepathicGrunt/Bumblezone/commit/20724e67245143829cfc25e75bc49655d8c3feb4)
Shoot it wasnt spawning...

[2022-11-01 23:12] TelepathicGrunt commented on #154
Will be fixed in v6.3.6. Upcoming update

[2022-11-03 03:37] TelepathicGrunt commented on #155
fixed in v6.3.6

[2022-11-03 03:37] #155 closed, assigned to TelepathicGrunt

[2022-11-03 03:37] TelepathicGrunt commented on #154
fixed in v6.3.6

[2022-11-03 03:37] #154 closed, assigned to TelepathicGrunt

[2022-11-03 03:37] TelepathicGrunt commented on #152
added in v6.3.6

[2022-11-03 03:37] #152 closed, assigned to TelepathicGrunt

[2022-11-03 03:39] TelepathicGrunt opened #156 "Figure out why dimension skybox is dark when game is started while weather is raining/thunderstorm"
Once world is entered, changing the weather will not change the skybox color. It's like the skybox color is determined the exact time you enter the world save and then cached until you close the game. Super odd and is a vanilla bug. But where is the bug in the code... And is it even fixable...

[2022-11-04 03:13] TelepathicGrunt commented on #156
fixed in v6.3.8

[2022-11-04 03:13] #156 closed, assigned to TelepathicGrunt

[2022-11-04 03:13] TelepathicGrunt commented on #151
added in v6.3.8

[2022-11-04 03:13] #151 closed, assigned to TelepathicGrunt

[2022-11-07 15:47] rafaelkai opened #157 "Request: Play lighter's sound when igniting Super Candles"
As the title says. Supplementaries does this with its normal candles.

[2022-11-08 00:18] TelepathicGrunt commented on #157
I returned a success interaction but forgot it doesn't run the item's code due to the block's success on it's use method. Need to play sound manually myself

[2022-11-13 04:05] TelepathicGrunt commented on #157
fixed now in v6.4.0!

[2022-11-13 04:05] #157 closed, assigned to TelepathicGrunt

[2022-11-13 04:06] TelepathicGrunt commented on #153
added now in v6.4.0!

[2022-11-13 04:06] #153 closed, assigned to TelepathicGrunt

[2022-11-14 01:04] TelepathicGrunt opened #160 "Redo mod compat for entity/armor enderpearl teleporting"
General class that analyze the entity hit.

if entity hit is tagged `the_bumblezone:enderpearl_teleporting/target_entity`, will teleport thrower into Bumblezone. If entity is 1.8 blocks or bigger, pearl must hit top half of hitbox.

If entity hit is wearing armor tagged `the_bumblezone:enderpearl_teleporting/target_armor`, will teleport thrower into Bumblezone. (helmet requires top 33% of hitbox.

[2022-11-14 02:51] TelepathicGrunt commented on #160
Add an target_entity_hit_high, target_entity_hit_low, and target_entity_hit_anywhere to make it easier to work with

[2022-11-15 15:05] TelepathicGrunt opened #161 "Add tag for forcing bees to ignore or always be hostile at mobs in bumblezone"
Allow for more tailoring bee behavior

[2022-11-15 15:41] fixthissitepls opened #162 "1.19.2 crash/force close after update 6.4.0"
So the problem is that the game doesn't really “crash” the game rather tries to load, but the launcher just doesn't even let me in the game and just throws out the generic "exit code 1" after a few seconds.
That means i dont have a crash log, i could send the launcher log if that helps,altough it does not say that much.

[2022-11-15 15:52] TelepathicGrunt commented on #162
Please make sure you’re on latest forge version (if you’re on forge) and please give me the latest.log file after the issue occurs. The latest.log file can be found in the logs folder above the mods folder

[2022-11-15 16:05] fixthissitepls commented on #162
I am using forge version 43.1.47
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/10014222/latest.log)

Updating to the newest forge version makes my game close the same way even without this mod installed at all, so i dont know whats going on here

[2022-11-15 16:08] TelepathicGrunt commented on #162
The log you showed says you were running forge 43.1.47 when 43.1.52 is required by Bumblezone due to me using a new event introduced then. Why forge isn’t showing the dependency screen, idk as that might be a forge bug.

[15Nov.2022 16:56:13.961] [main/INFO] [net.minecraftforge.fml.loading.moddiscovery.JarInJarDependencyLocator/]: Found 8 dependencies adding them to mods collection
[15Nov.2022 16:

[2022-11-15 16:12] fixthissitepls commented on #162
thank you, here is the log after updating to the newest version.
[latest.log](https://github.com/TelepathicGrunt/Bumblezone/files/10014286/latest.log)

[2022-11-15 16:38] fixthissitepls commented on #162
Ok after some further testing I found out that some other mod was causing the issue thank you for your help.

[2022-11-15 16:38] #162 closed, assigned to TelepathicGrunt

[2022-11-15 16:39] TelepathicGrunt commented on #162
Ah glad you were able to resolve it! I'll make an issue report to forge for why their dependency screen is not showing up as that is going to make it harder for users

[2022-11-16 23:31] TelepathicGrunt commented on #161
done in 6.4.2

[2022-11-16 23:31] #161 closed, assigned to TelepathicGrunt

[2022-11-16 23:31] TelepathicGrunt commented on #160
done in 6.4.2

[2022-11-16 23:31] #160 closed, assigned to TelepathicGrunt

[2022-11-17 03:51] TelepathicGrunt opened #163 "The Great Essence Update - Future plans"
The plans I have for next content updates (most likely will wait until 1.20 before working on it)

Port world blender’s portal to Bumblezone as a Block of ___ Essence. When touched, begin the boss fight sequence. When completed, player gets the essence as item form. Hold in off hand to get the essence's effect which consumes durability as it is being used. When depleted, turns into a depleted item

[2022-11-17 12:18] TelepathicGrunt opened #164 "Review every mixin in Bumblezone and determine if event or MixinExtra can replace it"
Time for a mixin cleanup and to document below in comments what mixin is required by bumblezone. Also, mark small feature mixins as require = 0 if unimportant to the whole mod/large feature functioning.

[2022-11-19 09:34] TelepathicGrunt commented on #164
Completed now
56549c520d06853d07488fc88c521bbcbca5c483

60eff0e1d65a424e0665e69dfdc64be906ec7ff3

[2022-11-19 09:34] #164 closed, assigned to TelepathicGrunt

[2022-11-19 09:35] TelepathicGrunt opened #165 "Smooth out Bee Queen turning"
It is currently stuttering when Bee Queen slowly rotated to look at player. Might be able to fix it…

[2022-11-19 09:38] TelepathicGrunt opened #166 "Try and improve Hive Temple’s map auto fill"
Maps currently add some lag to server thread due to chunk unloading/saving. The chunk itself is loaded offthread just fine.

Already tried to fix this but failed.

New hint for a possible solution to check out
![47413C7B-9C98-4DB6-86EC-B6E65C7888D6](https://user-images.githubusercontent.com/40846040/202844662-faf6fb06-8d91-4cb1-8efd-cf4567d6f23b.jpeg)

[2022-11-19 09:39] TelepathicGrunt opened #167 "Fix honey/Royal jelly rendering if fluid is falling above a non-source full fluid spot"
Missing rendering texture between the two fluid spaces when title’s condition happens

[2022-11-21 02:30] TelepathicGrunt opened #168 "[1.19.2] Turning on Weaponized Enderpearl in Forgery breaks Bumblezone Enderpearl dimension teleporting"
See this issue report for more detail: https://github.com/unascribed/Fabrication/issues/574

If you have Forgery on and this setting turned on, please turn it off or use the piston-into-beehive method to enter Bumblezone
![image](https://user-images.githubusercontent.com/40846040/202950164-744f5de3-6317-4979-a7da-397758bf9c85.png)

~~This will need to be fixed on Forgery's side.~~

[2022-11-23 23:06] TelepathicGrunt commented on #168
fixed in latest bumblezone version by switching forge event used

[2022-11-23 23:06] #168 closed, assigned to TelepathicGrunt

[2022-11-23 23:07] TelepathicGrunt commented on #167
fixed in latest bumblezone

[2022-11-23 23:07] #167 closed, assigned to TelepathicGrunt

[2022-11-23 23:07] TelepathicGrunt opened #169 "1.19.3 - Make Bumblezone use biome tag for what extra biome to spawn in its dimension"

[2022-11-24 02:07] TelepathicGrunt commented on #169
[865236b](https://github.com/TelepathicGrunt/Bumblezone/commit/865236b8db289cd79911693d9f526dccd25780c9)

[2022-11-24 10:38] AntonIXO opened #170 "Incompatibility with c2me"
Bumblezone breaks c2me async chunk generation.

Crash log: https://pastebin.com/dckReKzK

[2022-11-24 10:52] TelepathicGrunt commented on #170
I am spawning my dungeon nbt files exactly just like how vanilla spawns their fossils. So if anything, it would be the reverse. Other mods are breaking vanilla behavior and causing spawner blocks spawned from nbt files in a feature to crash. The question I got is who is feeding the read only chunk to the feature instead of a world chunk. If it is C2me, then they are changing vanilla behavior as I

[2022-11-24 15:34] AntonIXO commented on #170
How to you map my stacktrace?

[2022-11-24 17:03] TelepathicGrunt opened #171 "Make beehemoth and honey slime use item tags for luring/breeding"
Allow for more customizing

[2022-11-24 19:17] TelepathicGrunt commented on #170
I used this site to remap it to read it easier https://shartte.github.io/minecraft-mapper/

But anyway, I was talking with C2ME dev and it turns out they did forget to wrap the chunk which caused a read only chunk to be given to my mod and crashed. You can wait till C2ME published an update to fix this or you can try disabling this config Ishland mentions

![E7161DAB-BA8D-4EFA-8223-5D93612B0A20](h

[2022-11-24 21:36] AntonIXO commented on #170
Ishland fixed this issue in the latest commit. Thanks for help!

[2022-11-24 21:36] #170 closed, assigned to TelepathicGrunt

[2022-11-25 00:47] TelepathicGrunt commented on #171
done

[2022-11-25 00:47] #171 closed, assigned to TelepathicGrunt

[2022-11-26 05:59] ElectronicsArchiver opened #172 "Repository Basics"
I would recommend you disabled the unused features in your repository.

- Actions

- Projects

[2022-11-26 10:26] TelepathicGrunt commented on #172
Cleaned up now

[2022-11-26 10:26] #172 closed, assigned to TelepathicGrunt

[2022-11-26 13:47] ElectronicsArchiver commented on #172
<br>

Weird way of ending the discussion, locking that is.
So here's my last response that I was about to sent.

<br>

---

<br>

I would obviously want to discuss my PR and possibly find a compromise.

Well that's too bad.

Too bad they are the goto platform..

Sure, though not this version exactly, as it is customized for this project obviously.

Actually no, people are more willing to look into

[2022-11-29 00:54] TelepathicGrunt opened #175 "Brainer Bees making bees get stuck on the floor or ceiling of Bumblezone dimension"
See this issue report for more details
https://github.com/CursedCauldron/Brainier-Bees/issues/3

Without Brainer Bees in Bumblezone dimension.
![image](https://user-images.githubusercontent.com/40846040/204411708-7aa6f072-6f14-4727-92a0-515c87b6ed06.png)

With Brainer Bees in Bumblezone dimension.
![image](https://user-images.githubusercontent.com/40846040/204411726-878be301-0a89-4c1f-81f1-95eab78